<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.order.dao.ShopCarMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.order.model.ShopCar">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, store_id, sku_code, amount, created, updated, created_by, updated_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_cart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop_cart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.order.model.ShopCar">
    insert into shop_cart (id, customer_id, store_id, 
      sku_code, amount, created, 
      updated, created_by, updated_by
      )
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, 
      #{skuCode,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}, #{updatedBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.order.model.ShopCar">
    insert into shop_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.order.model.ShopCar">
    update shop_cart
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.order.model.ShopCar">
    update shop_cart
    set customer_id = #{customerId,jdbcType=BIGINT},
      store_id = #{storeId,jdbcType=BIGINT},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT},
      updated_by = #{updatedBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectShopCars" parameterType="com.winhxd.b2c.common.domain.order.model.ShopCar" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from shop_cart
    where 1 = 1
    <if test="customerId != null">
      and customer_id = #{customerId,jdbcType=BIGINT}
    </if>
    <if test="storeId != null and storeId != 0">
      and store_id = #{storeId,jdbcType=BIGINT}
    </if>
    order by created
  </select>
  <delete id="deleteShopCars" parameterType="java.lang.Long">
    delete from shop_cart where customer_id = #{customerId}
  </delete>
  <delete id="deleteShopCarsByStoreId" parameterType="com.winhxd.b2c.common.domain.order.model.ShopCar">
    delete from shop_cart
    where 1 = 1
    <if test="customerId != null">
      and customer_id = #{customerId,jdbcType=BIGINT}
    </if>
    <if test="storeId != null">
      and store_id = #{storeId,jdbcType=BIGINT}
    </if>
  </delete>
  <select id="selectShopCarsBySkuCode" parameterType="com.winhxd.b2c.common.domain.order.model.ShopCar" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from shop_cart where 1 = 1
    <if test="customerId != null">
      and customer_id = #{customerId,jdbcType=BIGINT}
    </if>
    <if test="storeId != null">
      and store_id = #{storeId,jdbcType=BIGINT}
    </if>
    <if test="skuCode != null">
      and sku_code = #{skuCode,jdbcType=VARCHAR}
    </if>
  </select>
    <select id="queryShopCartBySelective" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from shop_cart
      where 1 = 1
      <if test="customerId != null">
        and customer_id = #{customerId,jdbcType=BIGINT}
      </if>
      <if test="storeId != null and storeId != 0">
        and store_id = #{storeId,jdbcType=BIGINT}
      </if>
      <if test="skuCodes != null and skuCodes.size > 0">
        and sku_code in
        <foreach collection="skuCodes" item="sku" open="(" close=")" separator=",">
          #{sku}
        </foreach>
      </if>
    </select>
</mapper>