<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.store.dao.CustomerBrowseLogMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.store.model.CustomerBrowseLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_customer_id" jdbcType="BIGINT" property="storeCustomerId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="login_datetime" jdbcType="TIMESTAMP" property="loginDatetime" />
    <result column="logout_datetime" jdbcType="TIMESTAMP" property="logoutDatetime" />
    <result column="stay_time_millis" jdbcType="BIGINT" property="stayTimeMillis" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_customer_id, customer_id, login_datetime, logout_datetime, stay_time_millis
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_browse_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer_browse_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.store.model.CustomerBrowseLog">
    insert into customer_browse_log (id, store_customer_id, customer_id,
      login_datetime, logout_datetime, stay_time_millis)
    values (#{id,jdbcType=BIGINT}, #{storeCustomerId,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT},
      #{loginDatetime,jdbcType=TIMESTAMP}, #{logoutDatetime,jdbcType=TIMESTAMP}, #{stayTimeMillis, jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.store.model.CustomerBrowseLog">
    insert into customer_browse_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeCustomerId != null">
        store_customer_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="loginDatetime != null">
        login_datetime,
      </if>
      <if test="logoutDatetime != null">
        logout_datetime,
      </if>
      <if test="stayTimeMillis != null">
        stay_time_millis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="storeCustomerId != null">
        #{storeCustomerId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="loginDatetime != null">
        #{loginDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="stayTimeMillis != null">
        #{stayTimeMillis,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.store.model.CustomerBrowseLog">
    update customer_browse_log
    <set>
      <if test="storeCustomerId != null">
        store_customer_id = #{storeCustomerId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="loginDatetime != null">
        login_datetime = #{loginDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutDatetime != null">
        logout_datetime = #{logoutDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="stayTimeMillis != null">
        stay_time_millis = #{stayTimeMillis,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.store.model.CustomerBrowseLog">
    update customer_browse_log
    set store_customer_id = #{storeCustomerId,jdbcType=BIGINT},
      customer_id = #{customerId,jdbcType=BIGINT},
      login_datetime = #{loginDatetime,jdbcType=TIMESTAMP},
      logout_datetime = #{logoutDatetime,jdbcType=TIMESTAMP},
      stay_time_millis = #{stayTimeMillis,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectForLoginOut" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from customer_browse_log
    where id = (
    select
      max(id) as id
    from customer_browse_log
    where store_customer_id = #{storeCustomerId,jdbcType=BIGINT}
      and customer_id = #{customerId,jdbcType=BIGINT}
    )
  </select>

  <select id="getBrowseNum" resultType="java.lang.Integer">
    select
    count(distinct customer_id)
    from customer_browse_log
    where store_customer_id = #{storeCustomerId,jdbcType=BIGINT}
    and login_datetime &gt;= #{beginDate,jdbcType=TIMESTAMP}
    and login_datetime &lt;= #{endDate,jdbcType=TIMESTAMP}
  </select>
</mapper>