<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.store.dao.StoreProductManageMapper">
    <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="store_id" jdbcType="BIGINT" property="storeId"/>
        <result column="sku_attribute_option" jdbcType="VARCHAR" property="skuAttributeOption"/>
        <result column="sell_money" jdbcType="DECIMAL" property="sellMoney"/>
        <result column="recommend" jdbcType="SMALLINT" property="recommend"/>
        <result column="prod_status" jdbcType="SMALLINT" property="prodStatus"/>
        <result column="prod_code" jdbcType="VARCHAR" property="prodCode"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="putaway_time" jdbcType="TIMESTAMP" property="putawayTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_by_name" jdbcType="VARCHAR" property="createdByName"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
    </resultMap>
    <resultMap id="SimpleResultMap" type="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="store_id" jdbcType="BIGINT" property="storeId"/>
        <result column="sku_attribute_option" jdbcType="VARCHAR" property="skuAttributeOption"/>
        <result column="sell_money" jdbcType="DECIMAL" property="sellMoney"/>
        <result column="recommend" jdbcType="SMALLINT" property="recommend"/>
        <result column="prod_status" jdbcType="SMALLINT" property="prodStatus"/>
        <result column="prod_code" jdbcType="VARCHAR" property="prodCode"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="putaway_time" jdbcType="TIMESTAMP" property="putawayTime"/>
    </resultMap>
    <resultMap id="BackStageResultMap" type="com.winhxd.b2c.common.domain.store.vo.BackStageStoreProdVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="store_id" jdbcType="BIGINT" property="storeId"/>
        <result column="sku_attribute_option" jdbcType="VARCHAR" property="skuAttributeOption"/>
        <result column="sell_money" jdbcType="DECIMAL" property="sellMoney"/>
        <result column="recommend" jdbcType="SMALLINT" property="recommend"/>
        <result column="prod_status" jdbcType="SMALLINT" property="prodStatus"/>
        <result column="prod_code" jdbcType="VARCHAR" property="prodCode"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="putaway_time" jdbcType="TIMESTAMP" property="putawayTime"/>
        <result column="store_name" jdbcType="VARCHAR" property="storeName"/>
        <result column="store_mobile" jdbcType="VARCHAR" property="storeMobile"/>
    </resultMap>
   <sql id="Base_Column_List">
    id, store_id, sku_attribute_option, sell_money, recommend, prod_status,
    prod_code, sku_code, putaway_time, created_by, created_by_name, created, updated_by,
    updated_by_name, updated
  </sql>
    <sql id="alias_Simple_Column_List">
    prod.id, prod.store_id, prod.sku_attribute_option, prod.sell_money, prod.recommend, prod.prod_status,
    prod.prod_code, prod.sku_code, prod.putaway_time
  </sql>
  <sql id="Simple_Column_List">
    id, store_id, sku_attribute_option, sell_money, recommend, prod_status,
    prod_code, sku_code, putaway_time
  </sql>
  <sql id="BackStage_Column_List">
  	prod.id, prod.store_id, prod.sku_attribute_option, prod.sell_money, prod.recommend, prod.prod_status,
    prod.prod_code, prod.sku_code, prod.putaway_time,u.store_name,u.store_mobile
  </sql>
	
  <select id="selectBackStageVoByCondition" 
  			parameterType="com.winhxd.b2c.common.domain.store.condition.BackStageStoreProdCondition" 
  			resultMap="BackStageResultMap">
  	select 
  	<include refid="BackStage_Column_List"/>
  		from store_product_manage prod
		LEFT JOIN store_user_info u on u.id=prod.store_id
  	<if test="condition.prodStatus != null">
  		and prod.prod_status=#{condition.prodStatus,jdbcType=SMALLINT}
  	</if>
  	<if test="condition.recommend != null">
  		and prod.recommend=#{condition.recommend,jdbcType=SMALLINT}
  	</if>
  	<if test="condition.storeId != null">
  		and prod.store_id=#{condition.storeId,jdbcType=BIGINT}
  	</if>
  	<if test="condition.prodCode != null">
  		and prod.prod_code=#{condition.prodCode ,jdbcType=VARCHAR}
  	</if>
  	<if test="condition.skuCode != null">
  		and prod.sku_code=#{condition.skuCode ,jdbcType=VARCHAR}
  	</if>
  	<if test="condition.skuCodeList != null">
  		and prod.sku_code in 
  			<foreach item="skuItem" index="index" collection="condition.skuCodeList" open="(" separator="," close=")">
				#{skuItem,jdbcType=VARCHAR}
			</foreach> 
  	</if>
  	<if test="condition.storeName != null">
  		and u.store_name like '%' + #{condition.storeName} + '%' 
  	</if>
  	<if test="condition.storeMobile != null">
  		and u.store_mobile = #{condition.storeMobile,jdbcType=VARCHAR} 
  	</if>
  	order by prod.created desc
  </select>
  
  <select id="selectVoByCondition" parameterType="com.winhxd.b2c.common.domain.store.condition.StoreProductManageCondition"  resultMap="SimpleResultMap">
  	 	select
  	 	<include refid="Simple_Column_List"/>
  	 	from store_product_manage prod
  	 	where 1=1
  	 	<if test="condition.prodStatus != null">
            and prod.prod_status in
             <foreach item="status" index="index" collection="condition.prodStatus" open="(" separator="," close=")">
				#{status,jdbcType=SMALLINT}
			</foreach>  
        </if>
        <if test="condition.storeId != null">
            and prod.store_id=#{condition.storeId,jdbcType=BIGINT}
        </if>
        <if test="condition.recommend != null">
            and prod.recommend=#{condition.recommend,jdbcType=SMALLINT}
        </if>
        <if test="condition.priceStatus != null">
        	<choose>
        		<!-- 设置价格 -->
        		<when test="condition.priceStatus==1">
        			and prod.sell_money  <![CDATA[ >= ]]> 0
        		</when>
        		<otherwise>
        		<!-- 未设置价格 -->
        		and (prod.sell_money  <![CDATA[ < ]]> 0 or prod.sell_money is null)
        		</otherwise>
        	</choose>
            
        </if> 

  </select>
  
 	<select id="selectBySkuCodeAndStoreId" resultMap="BaseResultMap">
  	 	select
  	 	<include refid="Base_Column_List"/>
  	 	from store_product_manage prod 
  	 	where prod.store_id=#{storeId,jdbcType=BIGINT}
  	 	and prod.sku_code= #{skuCode,jdbcType=VARCHAR}

  	</select>
  
  	<select id="countSkusByConditon"  
  			parameterType="com.winhxd.b2c.common.domain.store.condition.StoreProductManageCondition" 
  			resultType="java.lang.Long">
  		select
  		 count(*)
  		from store_product_manage prod
  		where 1=1
  		<if test="condition.prodStatus != null">
            and prod.prod_status in
             <foreach item="status" index="index" collection="condition.prodStatus" open="(" separator="," close=")">
				#{status,jdbcType=SMALLINT}
			</foreach>  
        </if>
        <if test="condition.storeId != null">
            and prod.store_id=#{condition.storeId,jdbcType=BIGINT}
        </if>
        <if test="condition.recommend != null">
            and prod.recommend=#{condition.recommend,jdbcType=SMALLINT}
        </if>
        <if test="condition.priceStatus != null">
        	<choose>
        		<!-- 设置价格 -->
        		<when test="condition.priceStatus==1">
        			and prod.sell_money  <![CDATA[ >= ]]> 0
        		</when>
        		<otherwise>
        		<!-- 未设置价格 -->
        		and (prod.sell_money  <![CDATA[ < ]]> 0 or prod.sell_money is null)
        		</otherwise>
        	</choose>
            
        </if> 
  	
  	</select>
  	
  	<select id="selectPutawayProdBySkuCodes" resultMap="BaseResultMap">
  	 	select
  	 	<include refid="Base_Column_List"/>
  	 	from store_product_manage prod 
  	 	where prod.store_id=#{storeId,jdbcType=BIGINT}
  	 	and prod.prod_status=1 
  	 	and prod.sku_code in
		<foreach item="skuCode" index="index" collection="skuCodes" open="(" separator="," close=")">
			#{skuCode}
		</foreach>  

  	</select>
    <select id="selectSkusByConditon"
            parameterType="com.winhxd.b2c.common.domain.store.condition.StoreProductManageCondition"
            resultType="java.lang.String">
        select
        prod.sku_code as skuCode
        from store_product_manage prod
        LEFT JOIN  store_product_statistics  sps ON sps.store_id = prod.store_id AND sps.created BETWEEN DATE_SUB(CURDATE(), INTERVAL 30 DAY) AND DATE_SUB(CURDATE(),INTERVAL -1 DAY)
        where 1=1
        <if test="condition.prodStatus != null">
            and prod.prod_status in 
            <foreach item="status" index="index" collection="condition.prodStatus" open="(" separator="," close=")">
			#{status}
			</foreach>  
        </if>
        <if test="condition.storeId != null">
            and prod.store_id=#{condition.storeId,jdbcType=BIGINT}
        </if>
        <if test="condition.recommend != null">
            and prod.recommend=#{condition.recommend,jdbcType=SMALLINT}
        </if>
        group by prod.sku_code
        <choose>
            <!-- 加排序字段目前支持，价格和创建时间升降序 -->
            <when test="condition.orderBy != null">
                <choose>
                    <when test="condition.orderBy==1">
                        <choose>
                            <when test="condition.descAsc != null and condition.descAsc==1">
                                order by prod.sell_money desc
                            </when>
                            <otherwise>
                                order by when sell_money is null then 1 else 0 end, prod.sell_money asc
                            </otherwise>
                        </choose>
                    </when>
                    <when test="condition.orderBy==0">
                        <choose>
                            <when test="condition.descAsc != null and condition.descAsc==1">
                                order by prod.created desc
                            </when>
                            <otherwise>
                                order by prod.created asc
                            </otherwise>
                        </choose>
                    </when>
                    <when test="condition.orderBy==2">
                        <choose>
                            <when test="condition.descAsc != null and condition.descAsc==1">
                                order by sum(sps.quantity_sold_out) desc
                            </when>
                            <otherwise>
                                order by sum(sps.quantity_sold_out) asc
                            </otherwise>
                        </choose>
                    </when>
                    <otherwise>
                        order by prod.created desc
                    </otherwise>
                </choose>

            </when>
            <!-- 默认创建时间 desc -->
            <otherwise>
                order by prod.created desc
            </otherwise>
        </choose>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from store_product_manage
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectProductBySelective"  parameterType="com.winhxd.b2c.common.domain.store.condition.StoreProductManageCondition"
            resultMap="BaseResultMap">
        select
          <include refid="alias_Simple_Column_List"></include>
        from store_product_manage prod
        LEFT JOIN  store_product_statistics  sps ON sps.store_id = prod.store_id AND sps.created BETWEEN DATE_SUB(CURDATE(), INTERVAL 30 DAY) AND DATE_SUB(CURDATE(),INTERVAL -1 DAY)
        where 1=1
        <if test="condition.prodStatus != null">
            and prod.prod_status in
            <foreach item="status" index="index" collection="condition.prodStatus" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        <if test="condition.storeId != null">
            and prod.store_id=#{condition.storeId,jdbcType=BIGINT}
        </if>
        <if test="condition.recommend != null">
            and prod.recommend=#{condition.recommend,jdbcType=SMALLINT}
        </if>
        group by prod.sku_code
        <choose>
            <!-- 加排序字段目前支持，价格和创建时间升降序 -->
            <when test="condition.orderBy != null">
                <choose>
                    <when test="condition.orderBy==1">
                        <choose>
                            <when test="condition.descAsc != null and condition.descAsc==1">
                                order by prod.sell_money desc
                            </when>
                            <otherwise>
                                order by when sell_money is null then 1 else 0 end, prod.sell_money asc
                            </otherwise>
                        </choose>
                    </when>
                    <when test="condition.orderBy==0">
                        <choose>
                            <when test="condition.descAsc != null and condition.descAsc==1">
                                order by prod.created desc
                            </when>
                            <otherwise>
                                order by prod.created asc
                            </otherwise>
                        </choose>
                    </when>
                    <when test="condition.orderBy==2">
                        <choose>
                            <when test="condition.descAsc != null and condition.descAsc==1">
                                order by sum(sps.quantity_sold_out) desc
                            </when>
                            <otherwise>
                                order by sum(sps.quantity_sold_out) asc
                            </otherwise>
                        </choose>
                    </when>
                    <otherwise>
                        order by prod.created desc
                    </otherwise>
                </choose>

            </when>
            <!-- 默认创建时间 desc -->
            <otherwise>
                order by prod.created desc
            </otherwise>
        </choose>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from store_product_manage
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
    insert into store_product_manage (id, store_id,
    sku_attribute_option, sell_money, recommend,
    prod_status, prod_code, sku_code,
    putaway_time, created_by, created_by_name,
    created, updated_by, updated_by_name,
    updated)
    values (#{id,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT},
    #{skuAttributeOption,jdbcType=VARCHAR}, #{sellMoney,jdbcType=DECIMAL}, #{recommend,jdbcType=SMALLINT},
    #{prodStatus,jdbcType=SMALLINT}, #{prodCode,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR},
    #{putawayTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR},
    #{created,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedByName,jdbcType=VARCHAR},
    #{updated,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
        insert into store_product_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="skuAttributeOption != null">
                sku_attribute_option,
            </if>
            <if test="sellMoney != null">
                sell_money,
            </if>
            <if test="recommend != null">
                recommend,
            </if>
            <if test="prodStatus != null">
                prod_status,
            </if>
            <if test="prodCode != null">
                prod_code,
            </if>
            <if test="skuCode != null">
                sku_code,
            </if>
            <if test="putawayTime != null">
                putaway_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdByName != null">
                created_by_name,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedByName != null">
                updated_by_name,
            </if>
            <if test="updated != null">
                updated,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=BIGINT},
            </if>
            <if test="skuAttributeOption != null">
                #{skuAttributeOption,jdbcType=VARCHAR},
            </if>
            <if test="sellMoney != null">
                #{sellMoney,jdbcType=DECIMAL},
            </if>
            <if test="recommend != null">
                #{recommend,jdbcType=SMALLINT},
            </if>
            <if test="prodStatus != null">
                #{prodStatus,jdbcType=SMALLINT},
            </if>
            <if test="prodCode != null">
                #{prodCode,jdbcType=VARCHAR},
            </if>
            <if test="skuCode != null">
                #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="putawayTime != null">
                #{putawayTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdByName != null">
                #{createdByName,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedByName != null">
                #{updatedByName,jdbcType=VARCHAR},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
        update store_product_manage
        <set>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=BIGINT},
            </if>
            <if test="skuAttributeOption != null">
                sku_attribute_option = #{skuAttributeOption,jdbcType=VARCHAR},
            </if>
            <if test="sellMoney != null">
                sell_money = #{sellMoney,jdbcType=DECIMAL},
            </if>
            <if test="recommend != null">
                recommend = #{recommend,jdbcType=SMALLINT},
            </if>
            <if test="prodStatus != null">
                prod_status = #{prodStatus,jdbcType=SMALLINT},
            </if>
            <if test="prodCode != null">
                prod_code = #{prodCode,jdbcType=VARCHAR},
            </if>
            <if test="skuCode != null">
                sku_code = #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="putawayTime != null">
                putaway_time = #{putawayTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdByName != null">
                created_by_name = #{createdByName,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedByName != null">
                updated_by_name = #{updatedByName,jdbcType=VARCHAR},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
    update store_product_manage
    set store_id = #{storeId,jdbcType=BIGINT},
      sku_attribute_option = #{skuAttributeOption,jdbcType=VARCHAR},
      sell_money = #{sellMoney,jdbcType=DECIMAL},
      recommend = #{recommend,jdbcType=SMALLINT},
      prod_status = #{prodStatus,jdbcType=SMALLINT},
      prod_code = #{prodCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      putaway_time = #{putawayTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>