<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.store.dao.StoreProductManageMapper">
    <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="store_id" jdbcType="BIGINT" property="storeId"/>
        <result column="prod_id" jdbcType="VARCHAR" property="prodId"/>
        <result column="sku_attribute_option" jdbcType="INTEGER" property="skuAttributeOption"/>
        <result column="sell_money" jdbcType="DECIMAL" property="sellMoney"/>
        <result column="recommend" jdbcType="TINYINT" property="recommend"/>
        <result column="prod_status" jdbcType="TINYINT" property="prodStatus"/>
        <result column="prod_code" jdbcType="VARCHAR" property="prodCode"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="putaway_time" jdbcType="TIMESTAMP" property="putawayTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_by_name" jdbcType="VARCHAR" property="createdByName"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, store_id, prod_id, sku_attribute_option, sell_money, recommend, prod_status,
    prod_code, sku_code, putaway_time, created_by, created_by_name, created, updated_by,
    updated_by_name, updated
  </sql>
    <select id="selectSkusByConditon"
            parameterType="com.winhxd.b2c.common.domain.store.condition.StoreProductManageCondition"
            resultType="java.lang.String">
        select
        prod.sku_code as skuCode
        from store_product_manage prod
        where 1=1
        <if test="condition.prodStatus != null">
            and prod.prod_status=#{condition.prodStatus,jdbcType=TINYINT}
        </if>
        <if test="condition.storeId != null">
            and prod.store_id=#{condition.storeId,jdbcType=BIGINT}
        </if>
        <if test="condition.recommend != null">
            and prod.recommend=#{condition.recommend,jdbcType=TINYINT}
        </if>
        <choose>
            <!-- 加排序字段目前支持，价格和创建时间升降序 -->
            <when test="condition.orderBy != null">
                <choose>
                    <when test="condition.orderBy==1">
                        <choose>
                            <when test="condition.descAsc != null and condition.descAsc==1">
                                order by sell_money desc
                            </when>
                            <otherwise>
                                order by sell_money asc
                            </otherwise>
                        </choose>
                    </when>
                    <when test="condition.orderBy==0">
                        <choose>
                            <when test="condition.descAsc != null and condition.descAsc==1">
                                order by created desc
                            </when>
                            <otherwise>
                                order by created asc
                            </otherwise>
                        </choose>
                    </when>
                    <otherwise>
                        order by created desc
                    </otherwise>
                </choose>

            </when>
            <!-- 默认创建时间 desc -->
            <otherwise>
                order by created desc
            </otherwise>
        </choose>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from store_product_manage
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from store_product_manage
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
    insert into store_product_manage (id, store_id, prod_id,
    sku_attribute_option, sell_money, recommend,
    prod_status, prod_code, sku_code,
    putaway_time, created_by, created_by_name,
    created, updated_by, updated_by_name,
    updated)
    values (#{id,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, #{prodId,jdbcType=VARCHAR},
    #{skuAttributeOption,jdbcType=INTEGER}, #{sellMoney,jdbcType=DECIMAL}, #{recommend,jdbcType=TINYINT},
    #{prodStatus,jdbcType=TINYINT}, #{prodCode,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR},
    #{putawayTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR},
    #{created,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedByName,jdbcType=VARCHAR},
    #{updated,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
        insert into store_product_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="prodId != null">
                prod_id,
            </if>
            <if test="skuAttributeOption != null">
                sku_attribute_option,
            </if>
            <if test="sellMoney != null">
                sell_money,
            </if>
            <if test="recommend != null">
                recommend,
            </if>
            <if test="prodStatus != null">
                prod_status,
            </if>
            <if test="prodCode != null">
                prod_code,
            </if>
            <if test="skuCode != null">
                sku_code,
            </if>
            <if test="putawayTime != null">
                putaway_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdByName != null">
                created_by_name,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedByName != null">
                updated_by_name,
            </if>
            <if test="updated != null">
                updated,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=BIGINT},
            </if>
            <if test="prodId != null">
                #{prodId,jdbcType=VARCHAR},
            </if>
            <if test="skuAttributeOption != null">
                #{skuAttributeOption,jdbcType=INTEGER},
            </if>
            <if test="sellMoney != null">
                #{sellMoney,jdbcType=DECIMAL},
            </if>
            <if test="recommend != null">
                #{recommend,jdbcType=TINYINT},
            </if>
            <if test="prodStatus != null">
                #{prodStatus,jdbcType=TINYINT},
            </if>
            <if test="prodCode != null">
                #{prodCode,jdbcType=VARCHAR},
            </if>
            <if test="skuCode != null">
                #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="putawayTime != null">
                #{putawayTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdByName != null">
                #{createdByName,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedByName != null">
                #{updatedByName,jdbcType=VARCHAR},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
        update store_product_manage
        <set>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=BIGINT},
            </if>
            <if test="prodId != null">
                prod_id = #{prodId,jdbcType=VARCHAR},
            </if>
            <if test="skuAttributeOption != null">
                sku_attribute_option = #{skuAttributeOption,jdbcType=INTEGER},
            </if>
            <if test="sellMoney != null">
                sell_money = #{sellMoney,jdbcType=DECIMAL},
            </if>
            <if test="recommend != null">
                recommend = #{recommend,jdbcType=TINYINT},
            </if>
            <if test="prodStatus != null">
                prod_status = #{prodStatus,jdbcType=TINYINT},
            </if>
            <if test="prodCode != null">
                prod_code = #{prodCode,jdbcType=VARCHAR},
            </if>
            <if test="skuCode != null">
                sku_code = #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="putawayTime != null">
                putaway_time = #{putawayTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdByName != null">
                created_by_name = #{createdByName,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="updatedByName != null">
                updated_by_name = #{updatedByName,jdbcType=VARCHAR},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.store.model.StoreProductManage">
    update store_product_manage
    set store_id = #{storeId,jdbcType=BIGINT},
      prod_id = #{prodId,jdbcType=VARCHAR},
      sku_attribute_option = #{skuAttributeOption,jdbcType=INTEGER},
      sell_money = #{sellMoney,jdbcType=DECIMAL},
      recommend = #{recommend,jdbcType=TINYINT},
      prod_status = #{prodStatus,jdbcType=TINYINT},
      prod_code = #{prodCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      putaway_time = #{putawayTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>