<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.store.dao.StoreRegionMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.store.model.StoreRegion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="level" jdbcType="SMALLINT" property="level" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, area_name, area_code, level, status, updated_by, created_by, created, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store_region
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from store_region
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.store.model.StoreRegion">
    insert into store_region (id, area_name, area_code, 
      level, status, updated_by, 
      created_by, created, updated
      )
    values (#{id,jdbcType=BIGINT}, #{areaName,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{level,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, #{updatedBy,jdbcType=BIGINT}, 
      #{createdBy,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.store.model.StoreRegion">
    insert into store_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="areaName != null">
        area_name,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.store.model.StoreRegion">
    update store_region
    <set>
      <if test="areaName != null">
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.store.model.StoreRegion">
    update store_region
    set area_name = #{areaName,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      level = #{level,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      created_by = #{createdBy,jdbcType=BIGINT},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectStoreRegions" parameterType="com.winhxd.b2c.common.domain.store.model.StoreRegion" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from store_region
    where 1 = 1
    <if test="areaName != null and areaName != ''">
      and area_name = #{areaName, jdbc=VARCHAR}
    </if>
    <if test="level != null and level != 0">
      and level = #{level, jdbc=SMALLINT}
    </if>
    and status = 0
    order by created desc
  </select>

  <select id="selectRepeatStoreRegion" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from store_region where 1 = 1
    <if test="areaCode != null and areaCode != ''">
      and area_code like #{areaCode, jdbc=VARCHAR}'%'
    </if>
    <!--<if test="level != null and level != 0">
      and level &gt;= #{level, jdbc=SMALLINT}
    </if>-->
  </select>

  <select id="selectByRegionCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from store_region
    where area_code = #{areaCode,jdbcType=BIGINT}
    limit 1
  </select>
</mapper>