<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.promotion.dao.CouponActivityMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.promotion.model.CouponActivity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="exolian" jdbcType="VARCHAR" property="exolian" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="coupon_type" jdbcType="SMALLINT" property="couponType" />
    <result column="activity_start" jdbcType="TIMESTAMP" property="activityStart" />
    <result column="activity_end" jdbcType="TIMESTAMP" property="activityEnd" />
    <result column="activity_status" jdbcType="SMALLINT" property="activityStatus" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <resultMap id="queryResultMap" type="com.winhxd.b2c.common.domain.promotion.vo.CouponActivityVO">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="citeNum" jdbcType="INTEGER" property="citeNum" />
    <result column="storeNum" jdbcType="INTEGER" property="storeNum" />
    <result column="coupon_num_type" jdbcType="SMALLINT" property="couponNumType" />
    <result column="coupon_num" jdbcType="INTEGER" property="couponNum" />
    <result column="getNum" jdbcType="INTEGER" property="getNum" />
    <result column="useNum" jdbcType="INTEGER" property="useNum" />
    <result column="revocationNum" jdbcType="INTEGER" property="revocationNum" />
    <result column="activity_start" jdbcType="TIMESTAMP" property="activityStart" />
    <result column="activity_end" jdbcType="TIMESTAMP" property="activityEnd" />
    <result column="coupon_start_time" jdbcType="TIMESTAMP" property="couponStartTime" />
    <result column="coupon_end_time" jdbcType="TIMESTAMP" property="couponEndTime" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <resultMap id="queryCouponResultMap" type="com.winhxd.b2c.common.domain.promotion.vo.CouponActivityStoreVO">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="couponName" jdbcType="VARCHAR" property="couponName" />
    <result column="couponCode" jdbcType="VARCHAR" property="couponCode" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_mobile" jdbcType="VARCHAR" property="storeMobile" />
    <result column="activityName" jdbcType="VARCHAR" property="activityName" />
    <result column="activityCode" jdbcType="VARCHAR" property="activityCode" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, code, exolian, remarks, type, coupon_type, activity_start, activity_end, 
    activity_status, status, created_by, created_by_name, created, updated_by, updated_by_name, 
    updated
  </sql>
  <select id="selectStoreByActivity" parameterType="com.winhxd.b2c.common.domain.promotion.condition.CouponActivityCondition" resultMap="queryCouponResultMap">
    SELECT
    ca.id,
    sui.`store_name`,
    sui.`store_mobile`,
    ca.`name` AS activityName,
    ca.`code` activityCode,
    sui.`store_status` AS status
    FROM
    coupon_activity ca
    LEFT JOIN coupon_activity_template cat ON ca.id = cat.coupon_activity_id
    LEFT JOIN coupon_activity_store_customer casc ON casc.coupon_activity_template_id=cat.id
    LEFT JOIN store_user_info sui ON sui.id=casc.store_id
    <if test="condition.id != null">
      AND ca.id = #{condition.id}
    </if>
  </select>
  <select id="selectCouponByActivity" parameterType="com.winhxd.b2c.common.domain.promotion.condition.CouponActivityCondition" resultMap="queryCouponResultMap">
    SELECT
    ca.id,
    ct.title AS couponName,
    ct.`code` AS couponCode,
    ca.`name` AS activityName,
    ca.`code` AS activityCode,
    ct.`status` ,
    cts.updated
    FROM
    coupon_activity ca
    LEFT JOIN coupon_activity_template cat ON ca.id = cat.coupon_activity_id
    LEFT JOIN coupon_template ct ON ct.id = cat.template_id
    LEFT JOIN coupon_template_send cts ON cts.template_id = ct.id
    AND cts.`status` = '1'
    WHERE
    1 = 1
    <if test="condition.id != null">
      AND ca.id = #{condition.id}
    </if>
  </select>
  <select id="selectCouponActivity" parameterType="com.winhxd.b2c.common.domain.promotion.condition.CouponActivityCondition" resultMap="queryResultMap">
    SELECT
    ca.id,
    ca.`code`,
    ca.`name`,
    (
    SELECT
    count(DISTINCT template_id)
    FROM
    coupon_activity_template
    WHERE
    coupon_activity_id = ca.id
    ) AS citeNum,
    (
    SELECT
    count(DISTINCT store_id)
    FROM
    coupon_activity_store_customer
    WHERE
    coupon_activity_template_id = cat.id
    ) AS storeNum,
    cat.coupon_num_type,
    cat.coupon_num,
    (
    SELECT
    count(cts.id)
    FROM
    coupon_template_send cts
    LEFT JOIN coupon_activity_template cat ON cts.template_id = cat.template_id
    WHERE
    cat.coupon_activity_id = ca.id
    ) AS getNum,
    (
    SELECT
    count(cts.id)
    FROM
    coupon_template_send cts
    LEFT JOIN coupon_activity_template cat ON cts.template_id = cat.template_id
    WHERE
    cat.coupon_activity_id = ca.id
    AND cts. STATUS = '1'
    ) AS useNum,
    (
    SELECT
    count(cts.id)
    FROM
    coupon_template_send cts
    LEFT JOIN coupon_activity_template cat ON cts.template_id = cat.template_id
    WHERE
    cat.coupon_activity_id = ca.id
    AND cts. STATUS = '0'
    ) AS revocationNum,
    ca.activity_start,
    ca.activity_end,
    cat.start_time AS coupon_start_time,
    cat.end_time AS coupon_end_time,
    ca.created_by_name,
    ca.created,
    ca.updated_by_name,
    ca.updated
    FROM
    coupon_activity ca
    LEFT JOIN coupon_activity_template cat ON cat.coupon_activity_id = ca.id
    LEFT JOIN coupon_template ct ON ct.id = cat.template_id
    LEFT JOIN coupon_activity_store_customer casc ON casc.coupon_activity_template_id = cat.id
    LEFT JOIN store_user_info sui ON sui.id = casc.store_id
    WHERE
    1 = 1
    AND ca.`status` = '1'
    <if test="condition.code != null">
      AND ca.`code` = #{condition.code}
    </if>
    <if test="condition.name != null">
      AND ca.`name` = #{condition.name}
    </if>
    <if test="condition.templateCode != null">
      AND ct.`code` = #{condition.templateCode}
    </if>
    <if test="condition.storeId != null">
      AND casc.store_id = #{condition.storeId}
    </if>
    <if test="condition.customerMobile != null">
      AND cui.customer_mobile = #{condition.customerMobile}
    </if>
    <if test="condition.storeName != null">
      AND sui.store_name = #{condition.storeName}
    </if>
    <if test="condition.couponNumType != null">
      AND cat.coupon_num_type = #{condition.couponNumType}
    </if>
    <if test="condition.customerVoucherLimitType != null">
      AND cat.customer_voucher_limit_type = #{condition.customerVoucherLimitType}
    </if>
    <if test="condition.createdByName != null">
      AND ca.created_by_name = #{condition.createdByName}
    </if>
    <if test="condition.createdStart != null">
      AND ca.created &lt; #{condition.createdStart}
    </if>
    <if test="condition.createdEnd != null">
      AND ca.created &gt; #{condition.createdEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon_activity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByExample" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponActivity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from coupon_activity
    where 1=1
    <if test="couponType != null">
      AND coupon_type = #{couponType,jdbcType=SMALLINT}
    </if>
    <if test="status != null">
      AND status = #{status,jdbcType=SMALLINT}
    </if>
    <if test="activityStatus != null">
      AND activity_status = #{activityStatus,jdbcType=SMALLINT}
    </if>
    <if test="type != null">
      AND type = #{type,jdbcType=SMALLINT}
    </if>

  </select>
  <select id="selectCouponList" parameterType="java.util.Map" resultType="com.winhxd.b2c.common.domain.promotion.vo.CouponVO">
    SELECT
    ct.STATUS,
    ct.reason,
    ct.pay_type payType,
    ct.cal_type calType,
    cg.type type,
    cgd.reduced_type reducedType,
    cgd.reduced_amt reducedAmt,
    cgd.discounted_amt discountedAmt,
    cgd.discounted discounted,
    cgd.discounted_max_amt discountedMaxAmt,
    cap.apply_rule_type applyRuleType,
    cap.id applyId,
    ca.coupon_type couponType,
    ca.activity_start activityStart,
    ca.activity_end activityEnd,
    CASE
    WHEN cts.status = 2 THEN
    '未使用'
    WHEN cts.STATUS = 1 THEN
    '已使用'
    WHEN cts.STATUS = 4 THEN
    '退回'
    WHEN cts.STATUS = 0 THEN
    '无效'
    WHEN cts.STATUS = 3 THEN
    '已过期'
    END AS useStatus
    FROM
    coupon_template_send cts
    JOIN coupon_template ct ON cts.template_id = ct.id
    JOIN coupon_activity_record car ON cts.id = car.send_id
    JOIN coupon_activity ca ON car.coupon_activity_id = ca.id
    JOIN coupon_grade cg ON ct.grade_id = cg.id
    JOIN coupon_grade_detail cgd ON cgd.grade_id = cg.id
    JOIN coupon_apply cap ON ct.apply_rule_id = cap.id
    WHERE
    cts.customer_id = #{customerId}  AND (cts.STATUS = 2 OR cts.STATUS = 4)
    <if test="couponType != null">
      AND ca.coupon_type = #{couponType}
    </if>
    GROUP BY cts.template_id
  </select>
  <select id="selectUnclaimedCouponList" parameterType="java.lang.Long" resultType="com.winhxd.b2c.common.domain.promotion.vo.CouponVO">
    SELECT
    cat.coupon_activity_id activityId,
    cat.template_id templateId,
    ct.STATUS,
    ct.reason,
    ct.pay_type payType,
    ct.cal_type calType,
    cg.type type,
    cgd.reduced_type reducedType,
    cgd.reduced_amt reducedAmt,
    cgd.discounted_amt discountedAmt,
    cgd.discounted discounted,
    cgd.discounted_max_amt discountedMaxAmt,
    cap.apply_rule_type applyRuleType,
    cap.id applyId,
    ca.coupon_type couponType,
    ca.activity_start activityStart,
    ca.activity_end activityEnd,
    cat.coupon_num_type couponNumType,
    cat.coupon_num couponNum,
    cat.customer_voucher_limit_type limitType,
    cat.customer_voucher_limit_num limitNum
    FROM
    coupon_activity ca
    JOIN coupon_activity_template cat ON cat.coupon_activity_id = ca.id
    JOIN coupon_activity_store_customer cas ON cas.coupon_activity_template_id = cat.id
    JOIN coupon_template ct ON ct.id = cat.template_id
    JOIN coupon_grade cg ON ct.grade_id = cg.id
    JOIN coupon_grade_detail cgd ON cgd.grade_id = cg.id
    JOIN coupon_apply cap ON ct.apply_rule_id = cap.id
    WHERE
    ca.type = 1
    AND ca.activity_status = 1
    AND ca. STATUS = 1
    AND ca.activity_start &lt;=  NOW()
    AND ca.activity_end &gt;= NOW() AND cas.store_id = #{storeId}
    <!-- (cas.store_id = 1 OR cas.customer_id = 1) -->
  </select>
  <select id="getStoreCouponList" parameterType="java.lang.Long" resultType="com.winhxd.b2c.common.domain.promotion.vo.CouponVO">
    SELECT
    cat.coupon_activity_id activityId,
    cat.template_id templateId,
    ct.STATUS,
    ct.reason,
    ct.pay_type payType,
    ct.cal_type calType,
    cg.type type,
    cgd.reduced_type reducedType,
    cgd.reduced_amt reducedAmt,
    cgd.discounted_amt discountedAmt,
    cgd.discounted discounted,
    cgd.discounted_max_amt discountedMaxAmt,
    cap.apply_rule_type applyRuleType,
    cap.id applyId,
    ca.coupon_type couponType,
    ca.activity_start activityStart,
    ca.activity_end activityEnd,
    cat.coupon_num_type couponNumType,
    cat.coupon_num couponNum,
    cat.customer_voucher_limit_type limitType,
    cat.customer_voucher_limit_num limitNum
    FROM
    coupon_activity ca
    JOIN coupon_activity_template cat ON cat.coupon_activity_id = ca.id
    JOIN coupon_activity_store_customer cas ON cas.coupon_activity_template_id = cat.id
    JOIN coupon_template ct ON ct.id = cat.template_id
    JOIN coupon_grade cg ON ct.grade_id = cg.id
    JOIN coupon_grade_detail cgd ON cgd.grade_id = cg.id
    JOIN coupon_apply cap ON ct.apply_rule_id = cap.id
    WHERE
    ca.type = 1
    AND ca.activity_status = 1
    AND ca. STATUS = 1
    AND ca.activity_start &lt;=  NOW()
    AND ca.activity_end &gt;= NOW() AND cas.store_id = #{storeId}
    <!-- (cas.store_id = 1 OR cas.customer_id = 1) -->
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_activity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponActivity">
    insert into coupon_activity (id, name, code, 
      exolian, remarks, type, 
      coupon_type, activity_start, activity_end, 
      activity_status, status, created_by, 
      created_by_name, created, updated_by, 
      updated_by_name, updated)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{exolian,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT}, 
      #{couponType,jdbcType=SMALLINT}, #{activityStart,jdbcType=TIMESTAMP}, #{activityEnd,jdbcType=TIMESTAMP}, 
      #{activityStatus,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, #{createdBy,jdbcType=BIGINT}, 
      #{createdByName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT},
      #{updatedByName,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponActivity" useGeneratedKeys="true" keyProperty="id">
    insert into coupon_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="exolian != null">
        exolian,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="couponType != null">
        coupon_type,
      </if>
      <if test="activityStart != null">
        activity_start,
      </if>
      <if test="activityEnd != null">
        activity_end,
      </if>
      <if test="activityStatus != null">
        activity_status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByName != null">
        created_by_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedByName != null">
        updated_by_name,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="exolian != null">
        #{exolian,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="couponType != null">
        #{couponType,jdbcType=SMALLINT},
      </if>
      <if test="activityStart != null">
        #{activityStart,jdbcType=TIMESTAMP},
      </if>
      <if test="activityEnd != null">
        #{activityEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="activityStatus != null">
        #{activityStatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponActivity">
    update coupon_activity
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="exolian != null">
        exolian = #{exolian,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="couponType != null">
        coupon_type = #{couponType,jdbcType=SMALLINT},
      </if>
      <if test="activityStart != null">
        activity_start = #{activityStart,jdbcType=TIMESTAMP},
      </if>
      <if test="activityEnd != null">
        activity_end = #{activityEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="activityStatus != null">
        activity_status = #{activityStatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponActivity">
    update coupon_activity
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      exolian = #{exolian,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      type = #{type,jdbcType=SMALLINT},
      coupon_type = #{couponType,jdbcType=SMALLINT},
      activity_start = #{activityStart,jdbcType=TIMESTAMP},
      activity_end = #{activityEnd,jdbcType=TIMESTAMP},
      activity_status = #{activityStatus,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>