<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.promotion.dao.CouponMapper">
  <select id="getCouponNumByTemplateId" resultType="int">
    SELECT
    COUNT(car.id) count
    FROM
    coupon_activity_record car
    JOIN (
    SELECT
    ca.id
    FROM
    coupon_activity ca
    WHERE
    ca.activity_start &lt;= NOW()
    AND ca.activity_end &gt;= NOW()
    AND ca.activity_status = 1
    AND ca.STATUS = 1 AND ca.type = 1
    ) AS temp_tab ON car.coupon_activity_id = temp_tab.id
    WHERE car.template_id = #{templateId} AND car.coupon_activity_id = #{activityId}
  </select>
  <select id="getCouponNumByStoreId" resultType="int">
    SELECT
    COUNT(car.id) count
    FROM
    coupon_activity_record car
    JOIN (
    SELECT
    ca.id
    FROM
    coupon_activity ca
    WHERE
    ca.activity_start &lt;= NOW()
    AND ca.activity_end &gt;= NOW()
    AND ca.activity_status = 1
    AND ca. STATUS = 1 AND ca.type = 1
    ) AS temp_tab ON car.coupon_activity_id = temp_tab.id
    WHERE car.template_id = #{templateId} AND car.coupon_activity_id = #{activityId} AND car.store_id = #{storeId}
  </select>

  <select id="" resultType="int">
    SELECT
    COUNT(car.id) count
    FROM
    coupon_activity_record car
    JOIN (
    SELECT
    ca.id
    FROM
    coupon_activity ca
    WHERE
    ca.activity_start &lt;= NOW()
    AND ca.activity_end &gt;= NOW()
    AND ca.activity_status = 1
    AND ca. STATUS = 1 AND ca.type = 1
    ) AS temp_tab ON car.coupon_activity_id = temp_tab.id
    WHERE car.template_id = #{templateId} AND car.coupon_activity_id = #{activityId} AND car.store_id = #{storeId} AND car.customer_id = #{customerId};
  </select>

</mapper>