<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.promotion.dao.CouponApplyMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.promotion.model.CouponApply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="apply_rule_type" jdbcType="SMALLINT" property="applyRuleType" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, code, remarks, apply_rule_type, status, created_by, created_by_name, created, 
    updated_by, updated_by_name, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_apply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponApply">
    insert into coupon_apply (id, name, code, 
      remarks, apply_rule_type, status, 
      created_by, created_by_name, created, 
      updated_by, updated_by_name, updated
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{applyRuleType,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, 
      #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedByName,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponApply">
    insert into coupon_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="applyRuleType != null">
        apply_rule_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByName != null">
        created_by_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedByName != null">
        updated_by_name,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="applyRuleType != null">
        #{applyRuleType,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponApply">
    update coupon_apply
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="applyRuleType != null">
        apply_rule_type = #{applyRuleType,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponApply">
    update coupon_apply
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      apply_rule_type = #{applyRuleType,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>




  <resultMap id="BaseResultMap2" type="com.winhxd.b2c.common.domain.promotion.vo.CouponApplyVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="apply_rule_type" jdbcType="SMALLINT" property="applyRuleType" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="rel_templete_count" jdbcType="VARCHAR" property="relTempleteCount" />
  </resultMap>

  <select id="viewCouponApplyDetail" parameterType="java.lang.Long" resultMap="BaseResultMap2">
     select
     id, name, code, remarks, apply_rule_type, status, created_by, created_by_name, created,
     updated_by, updated_by_name, updated
     from coupon_apply
     where id=#{id}
  </select>




  <update id="updateCouponGradeValid">
    update coupon_apply set
    status = 0 ,
    updated_by = #{userId},
    updated_by_name = #{userName},
    updated = now()
    where id = #{id}
  </update>



  <select id="getCouponApplyPage" parameterType="com.winhxd.b2c.common.domain.promotion.condition.CouponApplyCondition" resultMap="BaseResultMap2">
    select
    a.id, a.name, a.code, a.remarks, a.apply_rule_type, a.status, a.created_by, a.created_by_name, a.created,
    a.updated_by, a.updated_by_name, a.updated
    from coupon_apply a
    where 1=1
      <if test="condition.code!=null and  condition.code!=''">
        and a.code = #{condition.code}
      </if>
      <if test="condition.name!=null and  condition.name!=''">
        and a.name = #{condition.name}
      </if>
      <if test="condition.applyRuleType!=null and  condition.applyRuleType!=''">
        and a.apply_rule_type = #{condition.applyRuleType}
      </if>


  </select>




  <insert id="insertCouponApply" keyProperty="id" useGeneratedKeys="true" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponApply">
    insert into coupon_apply (id, name, code,
      remarks, apply_rule_type, status,
      created_by, created_by_name, created
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{remarks,jdbcType=VARCHAR}, #{applyRuleType,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT},
      #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}
      )
  </insert>



  <resultMap id="ResultCountPageMap" type="com.winhxd.b2c.common.domain.promotion.vo.ApplyTempleteCountVO">
    <result column="apply_id" jdbcType="VARCHAR" property="applyId" />
    <result column="apply_name" jdbcType="VARCHAR" property="applyName" />
    <result column="apply_code" jdbcType="VARCHAR" property="applyCode" />
    <result column="templete_name" jdbcType="VARCHAR" property="templeteName" />
    <result column="templete_code" jdbcType="VARCHAR" property="templeteCode" />
    <result column="templete_status" jdbcType="VARCHAR" property="templeteStatus" />
  </resultMap>


  <select id="findApplyTempleteCountPage" parameterType="java.lang.Long" resultMap="ResultCountPageMap">
    SELECT
    a.title AS templete_name,
    a.`code` AS templete_code,
    a.`status` AS templete_status,
    b.`code` AS apply_code,
    b.`name` AS apply_name,
    b.id AS apply_id
    FROM
    coupon_template a
    LEFT JOIN coupon_apply b ON a.apply_rule_id = b.id
    WHERE
    a.apply_rule_id = #{applyId}
  </select>


  <resultMap id="RelCountPageMap" type="com.winhxd.b2c.common.domain.promotion.vo.TempleteRelationCountVO">
    <result column="rel_templete_count" jdbcType="INTEGER" property="relTempleteCount" />
  </resultMap>

  <!-- 关联模板数量 -->
  <select id="getRelationCouponApplyCount" parameterType="java.lang.Long" resultMap="RelCountPageMap">
    SELECT
    count(a.id) rel_templete_count
    FROM
    coupon_apply a
    LEFT JOIN coupon_template c ON a.id = c.apply_rule_id
    WHERE
    a.id = #{id}
  </select>


</mapper>