<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.promotion.dao.CouponGradeMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.promotion.model.CouponGrade">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, remarks, status, type, created_by, created_by_name, created, updated_by,
    updated_by_name, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon_grade
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_grade
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponGrade">
    insert into coupon_grade (id, code, name, 
      remarks, status, type, 
      created_by, created_by_name, created, 
      updated_by, updated_by_name, updated
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{type,jdbcType=SMALLINT}, 
      #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedByName,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponGrade">
    insert into coupon_grade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByName != null">
        created_by_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedByName != null">
        updated_by_name,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponGrade">
    update coupon_grade
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponGrade">
    update coupon_grade
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      type = #{type,jdbcType=SMALLINT},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <resultMap id="ResultDetailMap" type="com.winhxd.b2c.common.domain.promotion.vo.CouponGradeVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <collection property="details" ofType="com.winhxd.b2c.common.domain.promotion.model.CouponGradeDetail" column="grade_id">
      <result column="reduced_amt" jdbcType="DECIMAL" property="reducedAmt" />
      <result column="reduced_type" jdbcType="SMALLINT" property="reducedType" />
      <result column="discounted_amt" jdbcType="DECIMAL" property="discountedAmt" />
      <result column="discounted" jdbcType="DECIMAL" property="discounted" />
      <result column="discounted_max_amt" jdbcType="DECIMAL" property="discountedMaxAmt" />
      <result column="full_give_amt" jdbcType="DECIMAL" property="fullGiveAmt" />
      <result column="increase_amt" jdbcType="DECIMAL" property="increaseAmt" />
      <result column="cost" jdbcType="DECIMAL" property="cost" />
      <result column="count" jdbcType="INTEGER" property="count" />
      <result column="times" jdbcType="INTEGER" property="times" />
    </collection>
  </resultMap>


  <select id="viewCouponGradeDetail" parameterType="java.lang.Long" resultMap="ResultDetailMap">
    select
      a.id,a.code, a.name ,a.remarks ,a.status ,a.type ,a.created_by,
      a.created_by_name,a.created,a.updated_by,a.updated_by_name,
      a.updated,b.reduced_amt,b.reduced_type,b.discounted_amt,
      b.discounted,b.discounted_max_amt,b.full_give_amt,
      b.increase_amt,b.cost,b.count,b.times
    from coupon_grade a left join  coupon_grade_detail b
    on a.id = b.grade_id
    where a.id = #{id}
  </select>


  <update id="updateCouponGradeValid">
    update coupon_grade
    set status = 0 ,
    updated_by = #{userId},
    updated_by_name = #{userName},
    updated = now()
    where id = #{id}
  </update>


  <resultMap id="RelCountPageMap" type="com.winhxd.b2c.common.domain.promotion.vo.TempleteRelationCountVO">
    <result column="rel_templete_count" jdbcType="INTEGER" property="relTempleteCount" />
  </resultMap>

  <!-- 关联模板数量 -->
  <select id="getRelationCouponGradeCount" parameterType="java.lang.Long" resultMap="RelCountPageMap">
    SELECT
    count(a.id) as rel_templete_count
    FROM
    coupon_grade a
    LEFT JOIN coupon_template c ON a.id = c.grade_id
    WHERE
    a.id = #{id}
  </select>


  <insert id="insertCouponGrade" keyProperty="id" useGeneratedKeys="true" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponGrade">
     insert into coupon_grade (id, code, name,
      remarks, status, type,
      created_by, created_by_name, created
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{type,jdbcType=SMALLINT},
      #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}
      )
  </insert>




  <select id="getCouponGradePage" parameterType="com.winhxd.b2c.common.domain.promotion.condition.CouponGradeCondition" resultMap="ResultDetailMap">
    select
    a.id,a.code, a.name ,a.remarks ,a.status ,a.type ,a.created_by,
    a.created_by_name,a.created,a.updated_by,a.updated_by_name,
    a.updated,b.reduced_amt,b.reduced_type,b.discounted_amt,
    b.discounted,b.discounted_max_amt,b.full_give_amt,
    b.increase_amt,b.cost,b.count,b.times
    from coupon_grade a left join  coupon_grade_detail b
    on a.id = b.grade_id
    where 1 = 1
    <if test="condition.name!=null and condition.name!=''">
      and a.name = #{condition.name}
    </if>
    <if test="condition.code!=null and condition.code!=''">
      and a.code = #{condition.code}
    </if>
    <if test="condition.type!=null and condition.type!=''">
      and a.type = #{condition.type}
    </if>
  </select>


  <resultMap id="ResultCountPageMap" type="com.winhxd.b2c.common.domain.promotion.vo.GradeTempleteCountVO">
    <result column="grade_id" jdbcType="VARCHAR" property="gradeId" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="grade_code" jdbcType="VARCHAR" property="gradeCode" />
    <result column="templete_name" jdbcType="VARCHAR" property="templeteName" />
    <result column="templete_code" jdbcType="VARCHAR" property="templeteCode" />
    <result column="templete_status" jdbcType="VARCHAR" property="templeteStatus" />
  </resultMap>


<select id="getGradeTempleteCountPage" parameterType="java.lang.Long" resultMap="ResultCountPageMap">
  SELECT
      a.title AS templete_name,
      a.`code` AS templete_code,
      a.`status` AS templete_status,
      b.`code` AS grade_code,
      b.`name` AS grade_name,
      b.id AS grade_id
  FROM
      coupon_template a
  LEFT JOIN coupon_grade b ON a.grade_id = b.id
  WHERE
      a.grade_id = #{gradeId}
  </select>

</mapper>