<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.promotion.dao.CouponPushCustomerMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.promotion.model.CouponPushCustomer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="coupon_activity_id" jdbcType="BIGINT" property="couponActivityId" />
    <result column="receive" jdbcType="BIT" property="receive" />
    <result column="temp" jdbcType="VARCHAR" property="temp" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, coupon_activity_id, receive, temp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from coupon_push_customer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_push_customer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponPushCustomer">
    insert into coupon_push_customer (id, customer_id, coupon_activity_id,
      receive, temp)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{couponActivityId,jdbcType=BIGINT},
      #{receive,jdbcType=BIT}, #{temp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponPushCustomer">
    insert into coupon_push_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="couponActivityId != null">
        coupon_activity_id,
      </if>
      <if test="receive != null">
        receive,
      </if>
      <if test="temp != null">
        temp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="couponActivityId != null">
        #{couponActivityId,jdbcType=BIGINT},
      </if>
      <if test="receive != null">
        #{receive,jdbcType=BIT},
      </if>
      <if test="temp != null">
        #{temp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponPushCustomer">
    update coupon_push_customer
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="couponActivityId != null">
        coupon_activity_id = #{couponActivityId,jdbcType=BIGINT},
      </if>
      <if test="receive != null">
        receive = #{receive,jdbcType=BIT},
      </if>
      <if test="temp != null">
        temp = #{temp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponPushCustomer">
    update coupon_push_customer
    set customer_id = #{customerId,jdbcType=BIGINT},
      coupon_activity_id = #{couponActivityId,jdbcType=BIGINT},
      receive = #{receive,jdbcType=BIT},
      temp = #{temp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--查询优惠券发放给多少用户-->
  <select id="selectCouponStoreUser" parameterType="java.util.List" resultType="java.lang.Integer">
    SELECT
    COUNT(p.customer_id) AS count
    FROM coupon_push_customer p
    LEFT JOIN coupon_activity a ON a.id = p.coupon_activity_id AND a.`status` = 1
    WHERE p.customer_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

<!--查询优惠券推送给用户-->
  <select id="selectCouponPushCustomer" parameterType="java.lang.Long" resultType="com.winhxd.b2c.common.domain.promotion.vo.CouponPushVO">
    SELECT
      t.coupon_activity_id activityId,
      t.template_id templateId,
      e.STATUS,
      e.pay_type payType,
      g.type type,
      d.reduced_type reducedType,
      d.reduced_amt reducedAmt,
      d.discounted_amt discountedAmt,
      (100-d.discounted)/10 discounted,
      d.discounted_max_amt discountedMaxAmt,
      p.apply_rule_type applyRuleType,
      p.id applyId,
      a.coupon_type couponType,
      DATE_FORMAT(t.start_time,'%Y.%m.%d') activityStart,
      DATE_FORMAT(t.end_time,'%Y.%m.%d') activityEnd,
      t.coupon_num_type couponNumType,
      t.send_num sendNum,
      t.coupon_num couponNum,
      c.receive,
      t.effective_days  effectiveDays
    FROM coupon_push_customer c
    LEFT JOIN coupon_activity a ON c.coupon_activity_id=a.id
    LEFT JOIN coupon_activity_template t ON a.id=t.coupon_activity_id
    LEFT JOIN coupon_template e ON t.template_id=e.id
    LEFT JOIN coupon_grade g ON g.id=e.grade_id
    LEFT JOIN coupon_grade_detail d ON g.id=d.grade_id
    LEFT JOIN coupon_apply p ON e.apply_rule_id=p.id
    WHERE c.customer_id=#{customerId,jdbcType=BIGINT}
    <!-- receive 0 :未领取 1：已领取 status 是否有效0无效1有效  activity_status 活动状态 1开启 2停止  type 1领券 2推券-->
      AND c.receive=0 AND a.`status`=1 AND a.activity_status=1
      AND a.type=2 AND a.activity_end >= NOW() AND (t.end_time &gt;= NOW() or t.effective_days > 0)
  </select>

  <!--查询优惠券推送给门店-->
  <select id="selectCouponPushStore" parameterType="java.lang.Long" resultType="com.winhxd.b2c.common.domain.promotion.vo.CouponPushVO">
    SELECT
      t.coupon_activity_id activityId,
      t.template_id templateId,
      e. STATUS,
      e.pay_type payType,
      g.type type,
      d.reduced_type reducedType,
      d.reduced_amt reducedAmt,
      d.discounted_amt discountedAmt,
      (100 - d.discounted) / 10 discounted,
      d.discounted_max_amt discountedMaxAmt,
      p.apply_rule_type applyRuleType,
      p.id applyId,
      a.coupon_type couponType,
      DATE_FORMAT(t.start_time, '%Y.%m.%d') activityStart,
      DATE_FORMAT(t.end_time, '%Y.%m.%d') activityEnd,
      t.coupon_num_type couponNumType,
      t.send_num sendNum,
      t.coupon_num couponNum,
      t.effective_days effectiveDays
    FROM coupon_activity_store_customer c
    LEFT JOIN coupon_activity_template t ON c.coupon_activity_template_id=t.id AND t.`status` = 1
    LEFT JOIN coupon_activity a ON t.coupon_activity_id=a.id
    LEFT JOIN coupon_template e ON t.template_id = e.id AND e.`status`=1
    LEFT JOIN coupon_grade g ON g.id = e.grade_id
    LEFT JOIN coupon_grade_detail d ON g.id = d.grade_id
    LEFT JOIN coupon_apply p ON e.apply_rule_id = p.id
    WHERE c.store_id=#{storeId,jdbcType=BIGINT}
    <!-- status 是否有效0无效1有效  activity_status 活动状态 1开启 2停止  type 1领券 2推券-->
      AND a.`status`=1 and a.activity_status=1 AND a.type=2 and a.coupon_type=2
      AND a.activity_end >= NOW() AND (t.end_time &gt;= NOW() or t.effective_days > 0)
  </select>

  <select id="countUsedCouponNum" parameterType="com.winhxd.b2c.common.domain.promotion.vo.CouponPushVO" resultType="java.lang.Long">
      select count(1)
      from coupon_activity_record car
      where car.coupon_activity_id=#{activityId,jdbcType=BIGINT}
       and car.template_id=#{templateId,jdbcType=BIGINT}
  </select>
  
  <update id="updateByActivityIdAndCustomerId" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponPushCustomer">
    update coupon_push_customer
    set receive = #{receive,jdbcType=BIT}
    where customer_id = #{customerId,jdbcType=BIGINT} and  coupon_activity_id = #{couponActivityId,jdbcType=BIGINT}
  </update>

  <select id="getCouponPushCustomerByActiveId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from coupon_push_customer
    where coupon_activity_id = #{activeId,jdbcType=BIGINT}
  </select>
  <select id="getCustomerIdByActiveId" parameterType="java.lang.Long" resultType="java.lang.Long">
    select
    customer_id
    from coupon_push_customer
    where coupon_activity_id = #{activeId,jdbcType=BIGINT}
  </select>

</mapper>