<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.promotion.dao.CouponTemplateMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="exolian" jdbcType="VARCHAR" property="exolian" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="investor_id" jdbcType="BIGINT" property="investorId" />
    <result column="grade_id" jdbcType="BIGINT" property="gradeId" />
    <result column="apply_rule_id" jdbcType="BIGINT" property="applyRuleId" />
    <result column="corner" jdbcType="VARCHAR" property="corner" />
    <result column="coupon_label" jdbcType="VARCHAR" property="couponLabel" />
    <result column="coupon_label_color" jdbcType="INTEGER" property="couponLabelColor" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="cal_type" jdbcType="SMALLINT" property="calType" />
    <result column="pay_type" jdbcType="SMALLINT" property="payType" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="investor_name" jdbcType="VARCHAR" property="investorName" />
    <result column="apply_rule_name" jdbcType="VARCHAR" property="applyRuleName" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
  </resultMap>


  <!-- 关联获取坎级  使用规则 和出资方名称的结果集 -->
  <resultMap id="selectResultMap" type="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="exolian" jdbcType="VARCHAR" property="exolian" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="investor_id" jdbcType="BIGINT" property="investorId" />
    <result column="grade_id" jdbcType="BIGINT" property="gradeId" />
    <result column="apply_rule_id" jdbcType="BIGINT" property="applyRuleId" />
    <result column="corner" jdbcType="VARCHAR" property="corner" />
    <result column="coupon_label" jdbcType="VARCHAR" property="couponLabel" />
    <result column="coupon_label_color" jdbcType="INTEGER" property="couponLabelColor" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="cal_type" jdbcType="SMALLINT" property="calType" />
    <result column="pay_type" jdbcType="SMALLINT" property="payType" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="investor_name" jdbcType="VARCHAR" property="investorName" />
    <result column="apply_rule_name" jdbcType="VARCHAR" property="applyRuleName" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="apply_rule_type" jdbcType="SMALLINT" property="applyRuleType" />
  </resultMap>


  <sql id="Base_Column_List">
    id, title, exolian, remarks, investor_id, grade_id, apply_rule_id, corner, coupon_label,
    coupon_label_color, status, reason, code, cal_type, pay_type, created_by, created_by_name, 
    created, updated_by, updated_by_name, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon_template
    where id = #{id,jdbcType=BIGINT}
  </select>


  <!-- 跳转到修改时获取模板以及关联信息返回字段 -->
  <sql id="Select_CouponTemplate_Column_List">
      a.id,a.code,a.title,a.exolian,
      a.remarks,a.investor_id,a.grade_id,
      a.apply_rule_id,
      a.corner,a.coupon_label,
      a.coupon_label_color,
      a.STATUS,
      (case when a.STATUS=0 then '无效'
       when a.STATUS =1 then '有效' end) as status_name,
      a.reason,a.CODE,
      a.cal_type,
      (case when a.cal_type=1 then '订单'
       when a.cal_type=2 then '商品' end ) as cal_type_name,
      a.pay_type,a.created_by,
      a.created_by_name,a.created,a.updated_by,a.updated_by_name,
      a.updated,b.`name` as investor_name,c.`name` as grade_name,
      d.name  as apply_rule_name,
      (case when d.apply_rule_type=1 then '通用券'
        when d.apply_rule_type=2 then '品牌券'
        when d.apply_rule_type=3 then '品类券'
        when d.apply_rule_type=4 then '商品券' end ) as apply_rule_type_name ,
       d.apply_rule_type
  </sql>

  <!-- 跳转到修改时获取模板以及关联信息sql -->
  <select id="selectCouponTemplateById" parameterType="java.lang.Long" resultMap="selectResultMap">
    select
    <include refid="Select_CouponTemplate_Column_List" />
    from coupon_template a
    left join coupon_investor b on a.investor_id = b.id
    left join coupon_grade c on a.grade_id = c.id
    left join coupon_apply d on a.apply_rule_id = d.id
    where a.id =  #{id,jdbcType=BIGINT}
  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    insert into coupon_template (id, title, exolian, 
      remarks, investor_id, grade_id,
      apply_rule_id, corner, coupon_label, 
      coupon_label_color, status, reason, 
      code, cal_type, pay_type, 
      created_by, created_by_name, created, 
      updated_by, updated_by_name, updated
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{exolian,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{investorId,jdbcType=BIGINT}, #{gradeId,jdbcType=BIGINT},
      #{applyRuleId,jdbcType=BIGINT}, #{corner,jdbcType=VARCHAR}, #{couponLabel,jdbcType=VARCHAR}, 
      #{couponLabelColor,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, #{reason,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{calType,jdbcType=SMALLINT}, #{payType,jdbcType=SMALLINT}, 
      #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedByName,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    insert into coupon_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="exolian != null">
        exolian,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="investorId != null">
        investor_id,
      </if>
      <if test="gradeId != null">
        grade_id,
      </if>
      <if test="applyRuleId != null">
        apply_rule_id,
      </if>
      <if test="corner != null">
        corner,
      </if>
      <if test="couponLabel != null">
        coupon_label,
      </if>
      <if test="couponLabelColor != null">
        coupon_label_color,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="calType != null">
        cal_type,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByName != null">
        created_by_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedByName != null">
        updated_by_name,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="exolian != null">
        #{exolian,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="investorId != null">
        #{investorId,jdbcType=BIGINT},
      </if>
      <if test="gradeId != null">
        #{gradeId,jdbcType=BIGINT},
      </if>
      <if test="applyRuleId != null">
        #{applyRuleId,jdbcType=BIGINT},
      </if>
      <if test="corner != null">
        #{corner,jdbcType=VARCHAR},
      </if>
      <if test="couponLabel != null">
        #{couponLabel,jdbcType=VARCHAR},
      </if>
      <if test="couponLabelColor != null">
        #{couponLabelColor,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="calType != null">
        #{calType,jdbcType=SMALLINT},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    update coupon_template
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="exolian != null">
        exolian = #{exolian,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="investorId != null">
        investor_id = #{investorId,jdbcType=BIGINT},
      </if>
      <if test="gradeId != null">
        grade_id = #{gradeId,jdbcType=BIGINT},
      </if>
      <if test="applyRuleId != null">
        apply_rule_id = #{applyRuleId,jdbcType=BIGINT},
      </if>
      <if test="corner != null">
        corner = #{corner,jdbcType=VARCHAR},
      </if>
      <if test="couponLabel != null">
        coupon_label = #{couponLabel,jdbcType=VARCHAR},
      </if>
      <if test="couponLabelColor != null">
        coupon_label_color = #{couponLabelColor,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="calType != null">
        cal_type = #{calType,jdbcType=SMALLINT},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    update coupon_template
    set title = #{title,jdbcType=VARCHAR},
      exolian = #{exolian,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      investor_id = #{investorId,jdbcType=BIGINT},
      grade_id = #{gradeId,jdbcType=BIGINT},
      apply_rule_id = #{applyRuleId,jdbcType=BIGINT},
      corner = #{corner,jdbcType=VARCHAR},
      coupon_label = #{couponLabel,jdbcType=VARCHAR},
      coupon_label_color = #{couponLabelColor,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      reason = #{reason,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      cal_type = #{calType,jdbcType=SMALLINT},
      pay_type = #{payType,jdbcType=SMALLINT},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>




  <resultMap id="selectResultVOMap" type="com.winhxd.b2c.common.domain.promotion.vo.CouponTemplateVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="exolian" jdbcType="VARCHAR" property="exolian" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="investor_id" jdbcType="BIGINT" property="investorId" />
    <result column="grade_id" jdbcType="BIGINT" property="gradeId" />
    <result column="apply_rule_id" jdbcType="BIGINT" property="applyRuleId" />
    <result column="corner" jdbcType="VARCHAR" property="corner" />
    <result column="coupon_label" jdbcType="VARCHAR" property="couponLabel" />
    <result column="coupon_label_color" jdbcType="INTEGER" property="couponLabelColor" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="cal_type" jdbcType="SMALLINT" property="calType" />
    <result column="pay_type" jdbcType="SMALLINT" property="payType" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="investor_name" jdbcType="VARCHAR" property="investorName" />
    <result column="apply_rule_name" jdbcType="VARCHAR" property="applyRuleName" />
    <result column="apply_rule_type_name" jdbcType="VARCHAR" property="applyRuleTypeName" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="apply_rule_type" jdbcType="VARCHAR" property="applyRuleType" />
    <result column="cal_type_name" jdbcType="VARCHAR" property="calTypeName" />
    <result column="status_name" jdbcType="VARCHAR" property="statusName" />
  </resultMap>

  <!-- 优惠券列表多条件分页查询sql -->
  <select id="getCouponTemplatePageByCondition"  resultMap="selectResultVOMap" parameterType="com.winhxd.b2c.common.domain.promotion.condition.CouponTemplateCondition">
    select
    <include refid="Select_CouponTemplate_Column_List" />
    from coupon_template a
    left join coupon_investor b on a.investor_id = b.id
    left join coupon_grade c on a.grade_id = c.id
    left join coupon_apply d on a.apply_rule_id = d.id
    where 1=1

    <if test="condition.dateInterval != null and condition.dateInterval.start != null">
      and a.created &gt;= #{condition.dateInterval.start,jdbcType=TIMESTAMP}
    </if>
    <if test="condition.dateInterval != null and condition.dateInterval.end != null">
      and a.created &lt;= #{condition.dateInterval.end,jdbcType=TIMESTAMP}
    </if>

    <if test="condition.createdByName!=null and  condition.createdByName!=''">
      and a.created_by_name = #{condition.createdByName}
    </if>
    <if test="condition.status!=null">
      and a.status = #{condition.status}
    </if>
    <if test="condition.code!=null and  condition.code!=''">
       and a.code = #{condition.code}
    </if>
    <if test="condition.title!=null and  condition.title!=''">
       and a.title = #{condition.title}
    </if>
    <if test="condition.couponLabel!=null and  condition.couponLabel!=''">
      and a.coupon_label = #{condition.couponLabel}
    </if>

    <if test="condition.investorName!=null and condition.investorName!=''">
      and b.name = #{condition.investorName}
    </if>
    <if test="condition.gradeName!=null and condition.gradeName!=''">
      and c.name = #{condition.gradeName}
    </if>
    <if test="condition.applyRuleName!=null and condition.applyRuleName!=''">
      and d.name = #{condition.applyRuleName}
    </if>

    <if test="condition.applyRuleType!=null and condition.applyRuleType!=''">
      and d.apply_rule_type = #{condition.applyRuleType}
    </if>
    ORDER BY a.created desc
  </select>


  <!-- 设为无效 -->
  <update id="updateCouponTemplateToValid" parameterType="java.util.List">
      update coupon_template set status= 0 ,
      updated_by=#{updatedBy},
      updated_by_name=#{updatedByName},
      updated=#{updated}
      where id = #{id}
  </update>



  <resultMap id="couponGetedAndUsedResultMap" type="com.winhxd.b2c.common.domain.promotion.vo.CouponInStoreGetedAndUsedVO">
    <result column="templeteId" jdbcType="BIGINT" property="templeteId" />
    <result column="couponActivityId" jdbcType="BIGINT" property="couponActivityId" />
    <result column="applyId" jdbcType="BIGINT" property="applyId" />
    <result column="storeId" jdbcType="BIGINT" property="storeId" />
    <result column="expire" jdbcType="SMALLINT" property="expire" />
    <result column="applyRuleType" jdbcType="SMALLINT" property="applyRuleType" />
    <result column="reduceType" jdbcType="SMALLINT" property="reduceType" />
    <result column="reduceAmt" jdbcType="DECIMAL" property="reduceAmt" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="discountedAmt" jdbcType="DECIMAL" property="discountedAmt" />
    <result column="discounted" jdbcType="DECIMAL" property="discounted" />
    <result column="maxAmt" jdbcType="DECIMAL" property="maxAmt" />
    <result column="startTime" jdbcType="TIMESTAMP" property="startTime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>

 <!-- 获取门店优惠券使用情况 领取情况统计列表 -->
  <select id="selectCouponInStoreGetedAndUsedPage" parameterType="java.lang.Long" resultMap="couponGetedAndUsedResultMap">

    SELECT
    a.store_id as storeId,
    b.template_id as templeteId,
    b.coupon_activity_id as couponActivityId,
    d.apply_rule_type as applyRuleType,
    f.reduced_type as reduceType,
    d.id as applyId,
    (case WHEN b.end_time  <![CDATA[ < ]]>  NOW() THEN 0 ELSE 1 end) expire,
    (case WHEN f.reduced_amt is null then 0 else f.reduced_amt end) as reduceAmt,
    (case WHEN f.cost is null then 0 else f.cost end) as cost,
    (case WHEN f.discounted is null then 0 else TRUNCATE((100-f.discounted)/10,2) end) as discounted,
    (case WHEN f.discounted_max_amt is null then 0 else f.discounted_max_amt end) as maxAmt,
    f.discounted_amt as discountedAmt,
    DATE_FORMAT(b.start_time,'%Y-%m-%d') as startTime,
    DATE_FORMAT(b.end_time,'%Y-%m-%d') as endTime
    FROM
    coupon_activity_store_customer a
    LEFT JOIN coupon_activity_template b ON a.coupon_activity_template_id = b.id
    LEFT JOIN coupon_template c on b.template_id = c.id AND c.`status` = 1
    LEFT JOIN coupon_activity h on h.id = b.coupon_activity_id
    LEFT JOIN coupon_activity_record p on p.coupon_activity_id = b.coupon_activity_id
    LEFT JOIN coupon_apply d ON c.apply_rule_id = d.id AND d.`status` = 1
    LEFT JOIN coupon_grade e on e.id = c.grade_id
    LEFT JOIN coupon_grade_detail f on c.grade_id = f.id
    WHERE a.store_id = #{storeId} and h.activity_status= 1
    GROUP BY b.coupon_activity_id,templeteId
    ORDER BY expire DESC,startTime DESC
  </select>

  <!-- 获取门店优惠券使用情况 领取情况统计数量 -->
  <resultMap id="couponGetedAndUsedCoutMap" type="com.winhxd.b2c.common.domain.promotion.vo.CouponInStoreGetedAndUsedVO">
    <result column="templeteId" jdbcType="BIGINT" property="templeteId" />
    <result column="couponActivityId" jdbcType="BIGINT" property="couponActivityId" />
    <result column="totalCount" jdbcType="INTEGER" property="totalCount" />
    <result column="usedCount" jdbcType="INTEGER" property="usedCount" />
  </resultMap>

  <select id="selectCouponGetedAndUsedCout" parameterType="java.util.Map" resultMap="couponGetedAndUsedCoutMap">
    SELECT
		IFNULL(c.totalCount,0) AS totalCount,
        IFNULL(s.usedCount,0)AS usedCount,
        ca.id AS couponActivityId,
        cat.template_id as templeteId
    FROM
        coupon_activity ca
    LEFT JOIN coupon_activity_template cat ON cat.coupon_activity_id = ca.id and cat.`status`= 1
    LEFT JOIN coupon_activity_store_customer d on d.coupon_activity_template_id = cat.id AND d.store_id =#{storeId}
		LEFT JOIN (SELECT COUNT(DISTINCT car.id) totalCount,car.coupon_activity_id AS couponActivityId,car.template_id templeteId
							 FROM coupon_activity_record car
							 LEFT JOIN coupon_template_send cts ON cts.id = car.send_id
               WHERE car.customer_id IN
                <foreach collection="list" index="index"  item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
              GROUP BY cts.template_id) c
		ON c.couponActivityId=ca.id and c.templeteId=cat.template_id
	  LEFT JOIN (SELECT COUNT(DISTINCT cts.id) usedCount,car.coupon_activity_id couponActivityId,car.template_id templeteId
							 FROM coupon_activity_record car
							 LEFT JOIN coupon_template_use cts ON car.send_id=cts.send_id
							 WHERE cts. STATUS = '1'  AND car.customer_id IN
                            <foreach collection="list" index="index"  item="item" open="(" separator="," close=")">
                                #{item}
                            </foreach>
                          GROUP BY cts.template_id) s

	  ON s.couponActivityId=ca.id and s.templeteId=cat.template_id

    WHERE 1=1
    AND ca.`status` = 1
    AND ca.activity_status = 1
    GROUP BY cat.coupon_activity_id,template_id
  </select>


</mapper>