<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.promotion.dao.CouponMapper">
  <select id="getCouponNumByTemplateId" resultType="int">
    SELECT
    COUNT(car.id) count
    FROM
    coupon_activity_record car
    JOIN (
    SELECT
    ca.id
    FROM
    coupon_activity ca
    WHERE
    ca.activity_start &lt;= NOW()
    AND ca.activity_end &gt;= NOW()
    AND ca.activity_status = 1
    AND ca.STATUS = 1 AND ca.type = 1
    ) AS temp_tab ON car.coupon_activity_id = temp_tab.id
    WHERE car.template_id = #{templateId} AND car.coupon_activity_id = #{activityId}
  </select>
  <select id="getCouponNumByStoreId" resultType="int">
    SELECT
    COUNT(car.id) count
    FROM
    coupon_activity_record car
    JOIN (
    SELECT
    ca.id
    FROM
    coupon_activity ca
    WHERE
    ca.activity_start &lt;= NOW()
    AND ca.activity_end &gt;= NOW()
    AND ca.activity_status = 1
    AND ca. STATUS = 1 AND ca.type = 1
    ) AS temp_tab ON car.coupon_activity_id = temp_tab.id
    WHERE car.template_id = #{templateId} AND car.coupon_activity_id = #{activityId} AND car.store_id = #{storeId}
  </select>

  <select id="getCouponNumByCustomerId" resultType="int">
    SELECT
    COUNT(car.id) count
    FROM
    coupon_activity_record car
    JOIN (
    SELECT
    ca.id
    FROM
    coupon_activity ca
    WHERE
    ca.activity_start &lt;= NOW()
    AND ca.activity_end &gt;= NOW()
    AND ca.activity_status = 1
    AND ca. STATUS = 1 AND ca.type = 1
    ) AS temp_tab ON car.coupon_activity_id = temp_tab.id
    WHERE car.template_id = #{templateId} AND car.coupon_activity_id = #{activityId} AND car.store_id = #{storeId} AND car.customer_id = #{customerId};
  </select>

  <select id="couponListByOrder" parameterType="java.lang.String" resultType="com.winhxd.b2c.common.domain.promotion.vo.CouponVO">
    SELECT
	ct. STATUS,
	ct.reason,
	ct.pay_type payType,
	ct.cal_type calType,
	cg.type type,
	cgd.reduced_type reducedType,
	cgd.reduced_amt reducedAmt,
	cgd.discounted_amt discountedAmt,
	cgd.discounted discounted,
	cgd.discounted_max_amt discountedMaxAmt,
	cap.apply_rule_type applyRuleType,
	cap.id applyId,
	ca.coupon_type couponType,
	ca.activity_start activityStart,
	ca.activity_end activityEnd,
	CASE
WHEN cts. STATUS = 2 THEN
	'未使用'
WHEN cts. STATUS = 1 THEN
	'已使用'
WHEN cts. STATUS = 4 THEN
	'退回'
WHEN cts. STATUS = 0 THEN
	'无效'
WHEN cts. STATUS = 3 THEN
	'已过期'
END AS useStatus
FROM
	coupon_template_use ctu
JOIN coupon_template_send cts ON cts.id = ctu.send_id
JOIN coupon_template ct ON cts.template_id = ct.id
JOIN coupon_activity_record car ON cts.id = car.send_id
JOIN coupon_activity ca ON car.coupon_activity_id = ca.id
JOIN coupon_grade cg ON ct.grade_id = cg.id
JOIN coupon_grade_detail cgd ON cgd.grade_id = cg.id
JOIN coupon_apply cap ON ct.apply_rule_id = cap.id
WHERE
	ctu.order_no = #{orderNo}
  </select>
</mapper>