<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.promotion.dao.CouponTemplateMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="exolian" jdbcType="VARCHAR" property="exolian" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="investor_id" jdbcType="BIGINT" property="investorId" />
    <result column="grade_id" jdbcType="BIGINT" property="gradeId" />
    <result column="apply_rule_id" jdbcType="BIGINT" property="applyRuleId" />
    <result column="corner" jdbcType="VARCHAR" property="corner" />
    <result column="coupon_label" jdbcType="VARCHAR" property="couponLabel" />
    <result column="coupon_label_color" jdbcType="INTEGER" property="couponLabelColor" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="cal_type" jdbcType="SMALLINT" property="calType" />
    <result column="pay_type" jdbcType="SMALLINT" property="payType" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="investor_name" jdbcType="VARCHAR" property="investorName" />
    <result column="apply_rule_name" jdbcType="VARCHAR" property="applyRuleName" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
  </resultMap>


  <!-- 关联获取坎级  使用规则 和出资方名称的结果集 -->
  <resultMap id="selectResultMap" type="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="exolian" jdbcType="VARCHAR" property="exolian" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="investor_id" jdbcType="BIGINT" property="investorId" />
    <result column="grade_id" jdbcType="BIGINT" property="gradeId" />
    <result column="apply_rule_id" jdbcType="BIGINT" property="applyRuleId" />
    <result column="corner" jdbcType="VARCHAR" property="corner" />
    <result column="coupon_label" jdbcType="VARCHAR" property="couponLabel" />
    <result column="coupon_label_color" jdbcType="INTEGER" property="couponLabelColor" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="cal_type" jdbcType="SMALLINT" property="calType" />
    <result column="pay_type" jdbcType="SMALLINT" property="payType" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="investor_name" jdbcType="VARCHAR" property="investorName" />
    <result column="apply_rule_name" jdbcType="VARCHAR" property="applyRuleName" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="apply_rule_type" jdbcType="SMALLINT" property="applyRuleType" />
  </resultMap>


  <sql id="Base_Column_List">
    id, title, exolian, remarks, investor_id, grade_id, apply_rule_id, corner, coupon_label,
    coupon_label_color, status, reason, code, cal_type, pay_type, created_by, created_by_name, 
    created, updated_by, updated_by_name, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon_template
    where id = #{id,jdbcType=BIGINT}
  </select>


  <!-- 跳转到修改时获取模板以及关联信息返回字段 -->
  <sql id="Select_CouponTemplate_Column_List">
      a.id,a.code,a.title,a.exolian,
      a.remarks,a.investor_id,a.grade_id,a.apply_rule_id,
      a.corner,a.coupon_label,
      a.coupon_label_color,
      a.STATUS,a.reason,a.CODE,a.cal_type,a.pay_type,a.created_by,
      a.created_by_name,a.created,a.updated_by,a.updated_by_name,
      a.updated,b.`name` as investor_name,c.`name` as grade_name,
      d.`name` as apply_rule_name,d.apply_rule_type
  </sql>

  <!-- 跳转到修改时获取模板以及关联信息sql -->
  <select id="selectCouponTemplateById" parameterType="java.lang.Long" resultMap="selectResultMap">
    select
    <include refid="Select_CouponTemplate_Column_List" />
    from coupon_template a
    left join coupon_investor b on a.investor_id = b.id
    left join coupon_grade c on a.grade_id = c.id
    left join coupon_apply d on a.apply_rule_id = d.id
    where a.id =  #{id,jdbcType=BIGINT}
  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    insert into coupon_template (id, title, exolian, 
      remarks, investor_id, grade_id,
      apply_rule_id, corner, coupon_label, 
      coupon_label_color, status, reason, 
      code, cal_type, pay_type, 
      created_by, created_by_name, created, 
      updated_by, updated_by_name, updated
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{exolian,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{investorId,jdbcType=BIGINT}, #{gradeId,jdbcType=BIGINT},
      #{applyRuleId,jdbcType=BIGINT}, #{corner,jdbcType=VARCHAR}, #{couponLabel,jdbcType=VARCHAR}, 
      #{couponLabelColor,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, #{reason,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{calType,jdbcType=SMALLINT}, #{payType,jdbcType=SMALLINT}, 
      #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedByName,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    insert into coupon_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="exolian != null">
        exolian,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="investorId != null">
        investor_id,
      </if>
      <if test="gradeId != null">
        grade_id,
      </if>
      <if test="applyRuleId != null">
        apply_rule_id,
      </if>
      <if test="corner != null">
        corner,
      </if>
      <if test="couponLabel != null">
        coupon_label,
      </if>
      <if test="couponLabelColor != null">
        coupon_label_color,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="calType != null">
        cal_type,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByName != null">
        created_by_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedByName != null">
        updated_by_name,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="exolian != null">
        #{exolian,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="investorId != null">
        #{investorId,jdbcType=BIGINT},
      </if>
      <if test="gradeId != null">
        #{gradeId,jdbcType=BIGINT},
      </if>
      <if test="applyRuleId != null">
        #{applyRuleId,jdbcType=BIGINT},
      </if>
      <if test="corner != null">
        #{corner,jdbcType=VARCHAR},
      </if>
      <if test="couponLabel != null">
        #{couponLabel,jdbcType=VARCHAR},
      </if>
      <if test="couponLabelColor != null">
        #{couponLabelColor,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="calType != null">
        #{calType,jdbcType=SMALLINT},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    update coupon_template
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="exolian != null">
        exolian = #{exolian,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="investorId != null">
        investor_id = #{investorId,jdbcType=BIGINT},
      </if>
      <if test="gradeId != null">
        grade_id = #{gradeId,jdbcType=BIGINT},
      </if>
      <if test="applyRuleId != null">
        apply_rule_id = #{applyRuleId,jdbcType=BIGINT},
      </if>
      <if test="corner != null">
        corner = #{corner,jdbcType=VARCHAR},
      </if>
      <if test="couponLabel != null">
        coupon_label = #{couponLabel,jdbcType=VARCHAR},
      </if>
      <if test="couponLabelColor != null">
        coupon_label_color = #{couponLabelColor,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="calType != null">
        cal_type = #{calType,jdbcType=SMALLINT},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponTemplate">
    update coupon_template
    set title = #{title,jdbcType=VARCHAR},
      exolian = #{exolian,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      investor_id = #{investorId,jdbcType=BIGINT},
      grade_id = #{gradeId,jdbcType=BIGINT},
      apply_rule_id = #{applyRuleId,jdbcType=BIGINT},
      corner = #{corner,jdbcType=VARCHAR},
      coupon_label = #{couponLabel,jdbcType=VARCHAR},
      coupon_label_color = #{couponLabelColor,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      reason = #{reason,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      cal_type = #{calType,jdbcType=SMALLINT},
      pay_type = #{payType,jdbcType=SMALLINT},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>




  <resultMap id="selectResultVOMap" type="com.winhxd.b2c.common.domain.promotion.vo.CouponTemplateVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="exolian" jdbcType="VARCHAR" property="exolian" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="investor_id" jdbcType="BIGINT" property="investorId" />
    <result column="grade_id" jdbcType="BIGINT" property="gradeId" />
    <result column="apply_rule_id" jdbcType="BIGINT" property="applyRuleId" />
    <result column="corner" jdbcType="VARCHAR" property="corner" />
    <result column="coupon_label" jdbcType="VARCHAR" property="couponLabel" />
    <result column="coupon_label_color" jdbcType="INTEGER" property="couponLabelColor" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="cal_type" jdbcType="SMALLINT" property="calType" />
    <result column="pay_type" jdbcType="SMALLINT" property="payType" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="investor_name" jdbcType="VARCHAR" property="investorName" />
    <result column="apply_rule_name" jdbcType="VARCHAR" property="applyRuleName" />
    <result column="grade_name" jdbcType="VARCHAR" property="gradeName" />
    <result column="apply_rule_type" jdbcType="VARCHAR" property="applyRuleType" />

  </resultMap>

  <!-- 优惠券列表多条件分页查询sql -->
  <select id="getCouponTemplatePageByCondition"  resultMap="selectResultVOMap" parameterType="com.winhxd.b2c.common.domain.promotion.condition.CouponTemplateCondition">
    select
    <include refid="Select_CouponTemplate_Column_List" />
    from coupon_template a
    left join coupon_investor b on a.investor_id = b.id
    left join coupon_grade c on a.grade_id = c.id
    left join coupon_apply d on a.apply_rule_id = d.id
    where 1=1
    <if test="condition.createdBegin!=null and  condition.createdBegin!=''">
      and a.created <![CDATA[ >= ]]> #{condition.createdBegin}
    </if>
    <if test="condition.createdEnd!=null and  condition.createdEnd!=''">
      and a.created <![CDATA[ <= ]]> #{condition.createdEnd}
    </if>
    <if test="condition.createdByName!=null and  condition.createdByName!=''">
      and a.created_by_name = #{condition.createdByName}
    </if>
    <if test="condition.status!=null and  condition.status!=''">
      and a.status = #{condition.status}
    </if>
    <if test="condition.code!=null and  condition.code!=''">
       and a.code = #{condition.code}
    </if>
    <if test="condition.title!=null and  condition.title!=''">
       and a.title = #{condition.title}
    </if>
    <if test="condition.couponLabel!=null and  condition.couponLabel!=''">
      and a.coupon_label = #{condition.couponLabel}
    </if>
    <if test="condition.calType!=null and condition.calType!=''">
      and a.cal_type = #{condition.cal_type}
    </if>
    <if test="condition.investorName!=null and condition.investorName!=''">
      and b.investor_name = #{condition.investorName}
    </if>
    <if test="condition.gradeName!=null and condition.gradeName!=''">
      and c.grade_name = #{condition.gradeName}
    </if>
    <if test="condition.applyRuleName!=null and condition.applyRuleName!=''">
      and d.apply_rule_name = #{condition.applyRuleName}
    </if>

    <if test="condition.applyRuleType!=null and condition.applyRuleType!=''">
      and d.apply_rule_type = #{condition.applyRuleType}
    </if>
  </select>


  <!-- 批量（单个）设置无效或批量（单个）非物理删除 -->
  <update id="updateCouponTemplateToValid" parameterType="java.util.List">
      update coupon_template set status= 0 ,updated_by=#{updatedBy},updated_by_name=#{updateByName},updated=#{updated}
      where id in
    <foreach collection="idsList" index="index" item="item" open="(" separator="," close=")">
       #{item}
    </foreach>
  </update>


<!-- 更新优惠券模板 -->
  <update id="confirmUpdateCouponTemplate">
    update coupon_template set
      updated_by=#{updatedBy},updated_by_name=#{updateByName},updated=#{updated}
      <if test="condition.title!=null and condition.title!=''">
        ,title = #{condition.title}
      </if>
    <if test="condition.exolian!=null and condition.exolian!=''">
      ,exolian = #{condition.exolian}
    </if>
    <if test="condition.remarks!=null and condition.remarks!=''">
      ,remarks = #{condition.remarks}
    </if>
    <if test="condition.investorId!=null and condition.investorId!=''">
      ,investor_id = #{condition.investorId}
    </if>
    <if test="condition.gradeId !=null and condition.gradeId  !=''">
      ,grade_id = #{condition.gradeId}
    </if>
    <if test="condition.applyRuleId!=null and condition.applyRuleId!=''">
      ,apply_rule_id = #{condition.applyRuleId}
    </if>
    <if test="condition.couponLabel!=null and condition.couponLabel!=''">
      ,coupon_label = #{condition.couponLabel}
    </if>
    <if test="condition.status!=null and condition.status!=''">
      ,status = #{condition.status }
    </if>
    where id = #{condition.id}
  </update>



  <resultMap id="couponGetedAndUsedResultMap" type="com.winhxd.b2c.common.domain.promotion.vo.CouponInStoreGetedAndUsedVO">
    <result column="templeteId" jdbcType="BIGINT" property="templeteId" />
    <result column="storeId" jdbcType="BIGINT" property="storeId" />
    <result column="applyId" jdbcType="BIGINT" property="applyId" />
    <result column="applyRuleType" jdbcType="SMALLINT" property="applyRuleType" />
    <result column="reduceType" jdbcType="SMALLINT" property="reduceType" />
    <result column="reduceAmt" jdbcType="DECIMAL" property="reduceAmt" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="discountedAmt" jdbcType="DECIMAL" property="discountedAmt" />
    <result column="discounted" jdbcType="DECIMAL" property="discounted" />
    <result column="maxAmt" jdbcType="DECIMAL" property="maxAmt" />
    <result column="startTime" jdbcType="TIMESTAMP" property="startTime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>

 <!-- 获取门店优惠券使用情况 领取情况统计列表 -->
  <select id="selectCouponInStoreGetedAndUsedPage" parameterType="java.lang.Long" resultMap="couponGetedAndUsedResultMap">
    SELECT
    c.template_id as templeteId,
    b.apply_rule_type as applyRuleType,
    b.id as applyId,
    h.reduced_type as reduceType,
    (case WHEN h.reduced_amt is null then 0 else h.reduced_amt end) as reduceAmt,
    (case WHEN h.cost is null then 0 else h.cost end) as cost,
    (case WHEN h.discounted is null then 0 else 100-h.discounted end) as discounted,
    (case WHEN h.discounted_max_amt is null then 0 else h.discounted_max_amt end) as maxAmt,
    h.discounted_amt as discountedAmt ,
    c.start_time as startTime,
    c.end_time as endTime
    FROM
    coupon_template_send c
    LEFT JOIN coupon_template a ON a.id = c.template_id
    LEFT JOIN coupon_apply b ON a.apply_rule_id = b.id AND b.`status` = 1 AND a.`status` = 1
    LEFT JOIN coupon_grade e on e.id = a.grade_id
    LEFT JOIN coupon_grade_detail h on h.grade_id = e.id
    LEFT JOIN coupon_activity_record d on d.template_id = c.template_id
    and d.store_id = #{storeId} and d.send_id= c.id
    WHERE 1=1
    GROUP BY c.template_id
  </select>

  <!-- 获取门店优惠券使用情况 领取情况统计数量 -->
  <resultMap id="couponGetedAndUsedCoutMap" type="com.winhxd.b2c.common.domain.promotion.vo.CouponInStoreGetedAndUsedVO">
    <result column="templeteId" jdbcType="BIGINT" property="templeteId" />
    <result column="totalCount" jdbcType="INTEGER" property="totalCount" />
    <result column="usedCount" jdbcType="INTEGER" property="usedCount" />
  </resultMap>

  <select id="selectCouponGetedAndUsedCout" parameterType="java.lang.Long" resultMap="couponGetedAndUsedCoutMap">
    SELECT
    count(1) as totalCount,
    sum(case WHEN c.`status` = 1 then 1 else 0 end ) as usedCount,
    c.template_id as templeteId
    FROM
    coupon_template_send c
    LEFT JOIN coupon_template a ON a.id = c.template_id
    LEFT JOIN coupon_apply b ON a.apply_rule_id = b.id AND b.`status` = 1 AND a.`status` = 1
    LEFT JOIN coupon_grade e on e.id = a.grade_id
    LEFT JOIN coupon_grade_detail h on h.grade_id = e.id
    LEFT JOIN coupon_activity_record d on d.template_id = c.template_id
    and d.store_id = #{storeId} and d.send_id= c.id
    WHERE 1=1
    group by c.template_id
  </select>


</mapper>