<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.promotion.dao.CouponInvestorMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.promotion.model.CouponInvestor">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, remarks, status, created_by, created_by_name, created, update_by, 
    updated_by_name, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon_investor
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_investor
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponInvestor">
    insert into coupon_investor (id, code, name, 
      remarks, status, created_by, 
      created_by_name, created, update_by, 
      updated_by_name, updated)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{createdBy,jdbcType=BIGINT}, 
      #{createdByName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, 
      #{updatedByName,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponInvestor">
    insert into coupon_investor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByName != null">
        created_by_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updatedByName != null">
        updated_by_name,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponInvestor">
    update coupon_investor
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponInvestor">
    update coupon_investor
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--  新建出资方主表插入sql -->
  <insert id="insertCouponInvestor" keyProperty="id" useGeneratedKeys="true" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponInvestor">
    insert into coupon_investor (id, code, name,
    <if test="remarks!=null and remarks!=''">remarks,</if>
    status, created_by,
    created_by_name, created )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
    <if test="remarks!=null and remarks!=''">#{remarks,jdbcType=VARCHAR},</if>
    #{status,jdbcType=SMALLINT}, #{createdBy,jdbcType=BIGINT},
    #{createdByName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP})
  </insert>


  <!-- 关联查询出资方详情 -->
  <resultMap id="ResultDetailMap" type="com.winhxd.b2c.common.domain.promotion.vo.CouponInvestorVO">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="code" jdbcType="VARCHAR" property="code" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="remarks" jdbcType="VARCHAR" property="remarks" />
      <result column="status" jdbcType="SMALLINT" property="status" />
    <collection property="detailList" ofType="com.winhxd.b2c.common.domain.promotion.model.CouponInvestorDetail" column="investor_id">
      <result column="percent" property="percent"/>
      <result column="ids" property="ids"/>
      <result column="names" property="names"/>
      <result column="investor_type" property="investorType"/>
    </collection>
  </resultMap>

  <!-- 关联查询出资方详情 sql -->
  <select id="selectCouponInvestorDetailById" parameterType="java.lang.Long" resultMap="ResultDetailMap">
      select a.id, a.code, a.name, a.remarks, a.status,
              b.percent,b.ids,b.names,b.investor_type
              from coupon_investor a
              left join
              coupon_investor_detail b
              on a.id = b.investor_id
              and a.id =#{id}
              and a.status = 1
  </select>


  <update id="updateCouponInvestorToValid">
    update coupon_investor set
    status = 1 ,
    update_by = #{userId},
    updated_by_name = #{userName},
    updated = now()
    where id = #{id}
  </update>


  <update id="updateCouponInvestor" parameterType="com.winhxd.b2c.common.domain.promotion.model.CouponInvestor">
    update coupon_investor
    set name = #{name,jdbcType=VARCHAR},
    remarks = #{remarks,jdbcType=VARCHAR},
    update_by = #{updateBy,jdbcType=BIGINT},
    updated_by_name = #{updatedByName,jdbcType=VARCHAR},
    updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


</mapper>