<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winhxd.b2c.customer.dao.CustomerUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.customer.model.CustomerUserInfo" >
    <id column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="customer_mobile" property="customerMobile" jdbcType="CHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="lon" property="lon" jdbcType="DOUBLE" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="created_by_name" property="createdByName" jdbcType="VARCHAR" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
    <result column="updated_by_name" property="updatedByName" jdbcType="VARCHAR" />
    <result column="session_key" property="sessionKey" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT"/>
    <result column="token" property="token" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    customer_id, customer_mobile, openid, lat, lon, nick_name, head_img, created, created_by, 
    created_by_name, updated, updated_by, updated_by_name, session_key, status,token
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from customer_user_info
    where customer_id = #{customerId,jdbcType=BIGINT}
  </select>
  <select id="selectCustomerByToken" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" />
    from customer_user_info where token = #{token,jdbcType=VARCHAR}
  </select>
  <select id="selectByCustomerUserInfoByModel" resultMap="BaseResultMap" parameterType="com.winhxd.b2c.common.domain.customer.model.CustomerUserInfo" >
    select 
    <include refid="Base_Column_List" />
    from customer_user_info
    where status = 1 and openid = #{openid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from customer_user_info
    where customer_id = #{customerId,jdbcType=BIGINT}
  </delete>
  <resultMap id="customerUserInfoVO1" type="com.winhxd.b2c.common.domain.customer.vo.CustomerUserInfoVO">
      <result property="customerId" column="customer_id"/>
      <result property="customerMobile" column="customer_mobile"/>
      <result property="openid" column="openid"/>
      <result property="status" column="status"/>
      <result property="storeName" column="store_name"/>
      <result property="nickName" column="nick_name"/>
      <result property="headImg" column="head_img"/>
      <result property="created" column="created"/>
  </resultMap>
  <select id="selectCustomerUserByIds" resultMap="customerUserInfoVO1">
    select *
    from customer_user_info
    where status =1 and customer_id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
        #{id}
    </foreach>
  </select>
  <select id="selectCustomer" resultMap="customerUserInfoVO1">
    select cui.customer_id,cui.nick_name,cui.customer_mobile,cui.openid,cui.status,sui.store_name,cui.head_img,cui.created
    from customer_user_info cui  left join customer_store_relation csr
    on cui.customer_id = csr.customer_id left join store_user_info sui  on csr.store_user_id = sui.id
      <where>
      <if test="customerId != null">
         and cui.customer_id =  #{customerId,jdbcType=BIGINT}
      </if>
      <if test="nickName != null and nickName != ''">
        and cui.nick_name like CONCAT('%', #{nickName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="customerMobile != null and customerMobile != ''">
        and cui.customer_mobile like CONCAT('%', #{customerMobile,jdbcType=VARCHAR}, '%')
      </if>
      <if test="openid != null and openid != ''">
        and cui.openid like CONCAT('%',  #{openid,jdbcType=VARCHAR}, '%')
      </if>
      <if test="status != null and status != ''">
        and cui.status = #{status,jdbcType=TINYINT}
      </if>
      <if test="storeName != null and storeName != ''">
        and sui.store_name like CONCAT('%',  #{storeName,jdbcType=VARCHAR}, '%')
      </if>
      </where>
  </select>

  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.customer.model.CustomerUserInfo" >
    insert into customer_user_info (customer_id, customer_mobile, openid, 
      lat, lon, nick_name, head_img, 
      created, created_by, created_by_name, 
      updated, updated_by, updated_by_name, 
      session_key, status,token)
    values (#{customerId,jdbcType=BIGINT}, #{customerMobile,jdbcType=CHAR}, #{openid,jdbcType=CHAR}, 
      #{lat,jdbcType=DOUBLE}, #{lon,jdbcType=DOUBLE}, #{nickName,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR}, 
      #{updated,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedByName,jdbcType=VARCHAR}, 
      #{sessionKey,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},#{token,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.customer.model.CustomerUserInfo" useGeneratedKeys="true" keyProperty="customerId">
    insert into customer_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerMobile != null" >
        customer_mobile,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="lon != null" >
        lon,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="headImg != null" >
        head_img,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdByName != null" >
        created_by_name,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updatedByName != null" >
        updated_by_name,
      </if>
      <if test="sessionKey != null" >
        session_key,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="token != null" >
        token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerMobile != null" >
        #{customerMobile,jdbcType=CHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=CHAR},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lon != null" >
        #{lon,jdbcType=DOUBLE},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null" >
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null" >
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.customer.model.CustomerUserInfo" >
    update customer_user_info
    <set >
      <if test="customerMobile != null" >
        customer_mobile = #{customerMobile,jdbcType=CHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lon != null" >
        lon = #{lon,jdbcType=DOUBLE},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null" >
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null" >
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        session_key = #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
       <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.customer.model.CustomerUserInfo" >
    update customer_user_info
    set customer_mobile = #{customerMobile,jdbcType=CHAR},
      openid = #{openid,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=DOUBLE},
      lon = #{lon,jdbcType=DOUBLE},
      nick_name = #{nickName,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      session_key = #{sessionKey,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      token = #{token,jdbcType=VARCHAR}
    where customer_id = #{customerId,jdbcType=BIGINT}
  </update>
</mapper>