<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.customer.dao.CustomerAddressMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.customer.vo.CustomerAddressVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="contacter_name" jdbcType="VARCHAR" property="contacterName" />
    <result column="contacter_mobile" jdbcType="CHAR" property="contacterMobile" />
    <result column="contacter_province" jdbcType="VARCHAR" property="contacterProvince" />
    <result column="contacter_city" jdbcType="VARCHAR" property="contacterCity" />
    <result column="contacter_county" jdbcType="VARCHAR" property="contacterCounty" />
    <result column="contacter_detail_address" jdbcType="VARCHAR" property="contacterDetailAddress" />
    <result column="label_id" jdbcType="BIGINT" property="labelId" />
    <result column="default_address" jdbcType="BIT" property="defaultAddress" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, contacter_name, contacter_mobile, contacter_province, contacter_city,
    contacter_county, contacter_detail_address, label_id, default_address, created, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer_address
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer_address
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.customer.model.CustomerAddress">
    insert into customer_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="contacterName != null">
        contacter_name,
      </if>
      <if test="contacterMobile != null">
        contacter_mobile,
      </if>
      <if test="contacterProvince != null">
        contacter_province,
      </if>
      <if test="contacterCity != null">
        contacter_city,
      </if>
      <if test="contacterCounty != null">
        contacter_county,
      </if>
      <if test="contacterDetailAddress != null">
        contacter_detail_address,
      </if>
      <if test="labelId != null">
        label_id,
      </if>
      <if test="defaultAddress != null">
        default_address,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="contacterName != null">
        #{contacterName,jdbcType=VARCHAR},
      </if>
      <if test="contacterMobile != null">
        #{contacterMobile,jdbcType=CHAR},
      </if>
      <if test="contacterProvince != null">
        #{contacterProvince,jdbcType=VARCHAR},
      </if>
      <if test="contacterCity != null">
        #{contacterCity,jdbcType=VARCHAR},
      </if>
      <if test="contacterCounty != null">
        #{contacterCounty,jdbcType=VARCHAR},
      </if>
      <if test="contacterDetailAddress != null">
        #{contacterDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null">
        #{labelId,jdbcType=BIGINT},
      </if>
      <if test="defaultAddress != null">
        #{defaultAddress,jdbcType=BIT},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.customer.vo.CustomerAddressVO">
    update customer_address
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="contacterName != null">
        contacter_name = #{contacterName,jdbcType=VARCHAR},
      </if>
      <if test="contacterMobile != null">
        contacter_mobile = #{contacterMobile,jdbcType=CHAR},
      </if>
      <if test="contacterProvince != null">
        contacter_province = #{contacterProvince,jdbcType=VARCHAR},
      </if>
      <if test="contacterCity != null">
        contacter_city = #{contacterCity,jdbcType=VARCHAR},
      </if>
      <if test="contacterCounty != null">
        contacter_county = #{contacterCounty,jdbcType=VARCHAR},
      </if>
      <if test="contacterDetailAddress != null">
        contacter_detail_address = #{contacterDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null">
        label_id = #{labelId,jdbcType=BIGINT},
      </if>
      <if test="defaultAddress != null">
        default_address = #{defaultAddress,jdbcType=BIT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>