<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.system.user.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.system.user.model.SysUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <resultMap id="voMap" type="com.winhxd.b2c.common.domain.system.user.model.SysUser" extends="BaseResultMap">
    <result column="rule_id" jdbcType="BIGINT" property="ruleId" />
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, account, user_name, mobile, status, password, created_by, created, updated_by, 
    updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.system.user.model.SysUser" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user (id, account, user_name, 
      mobile, status, password, 
      created_by, created, updated_by, 
      updated)
    values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=CHAR}, #{status,jdbcType=SMALLINT}, #{password,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.system.user.model.SysUser" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.system.user.model.SysUser">
    update sys_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.system.user.model.SysUser">
    update sys_user
    set account = #{account,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=CHAR},
      status = #{status,jdbcType=SMALLINT},
      password = #{password,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updatePassword">
    update sys_user set password=#{newPassword} where id=#{id}
  </update>

  <select id="selectSysUser" resultMap="voMap" parameterType="com.winhxd.b2c.common.domain.system.user.condition.SysUserCondition">
    select
    u.id, account, user_name, mobile, u.status, u.created_by, u.created, u.updated_by,
    u.updated,ur.id rule_id,r.rule_name
    from sys_user u
      left join sys_user_rule ur on u.id=ur.user_id
      left join sys_rule r on r.id=ur.rule_id
    <where>
      <if test="userId != null">
        and u.id = #{userId}
      </if>
      <if test="account != null and account != ''">
        and u.account = #{account}
      </if>
      <if test="userName != null and userName != ''">
        <bind name="userName" value="'%' + userName + '%'" />
        and user_name like #{userName,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null and mobile != ''">
        <bind name="mobile" value="'%' + mobile + '%'" />
        and mobile like #{mobile,jdbcType=CHAR}
      </if>
      <if test="ruleName != null and ruleName != ''">
        <bind name="ruleName" value="'%' + ruleName + '%'" />
        and rule_name like #{ruleName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="getByAccount" resultMap="voMap" parameterType="string">
    select
    u.id, account, user_name, password, mobile, u.status, u.created_by, u.created, u.updated_by,
    u.updated,ur.id rule_id,r.rule_name
    from sys_user u
    left join sys_user_rule ur on u.id=ur.user_id
    left join sys_rule r on r.id=ur.rule_id
    where u.account = #{account}
  </select>
</mapper>