<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.pay.dao.PayFinanceAccountDetailMapper">
 <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="CHAR" property="orderNo" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="out_type" jdbcType="SMALLINT" property="outType" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, trade_no, out_type, status, created_by, created_by_name, created, updated_by, 
    updated_by_name, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_finance_account_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_finance_account_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail">
    insert into pay_finance_account_detail (id, order_no, trade_no, 
      out_type, status, created_by, 
      created_by_name, created, updated_by, 
      updated_by_name, updated)
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=CHAR}, #{tradeNo,jdbcType=VARCHAR}, 
      #{outType,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, #{createdBy,jdbcType=BIGINT}, 
      #{createdByName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, 
      #{updatedByName,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail">
    insert into pay_finance_account_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="outType != null">
        out_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByName != null">
        created_by_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedByName != null">
        updated_by_name,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outType != null">
        #{outType,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail">
    update pay_finance_account_detail
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=CHAR},
      </if>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="outType != null">
        out_type = #{outType,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail">
    update pay_finance_account_detail
    set order_no = #{orderNo,jdbcType=CHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      out_type = #{outType,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
   <resultMap id="PayFinancialSummary" type="com.winhxd.b2c.common.domain.pay.model.PayFinancialSummary">
      <result property="realFee" column="realFee"/>
      <result property="cmmsAmt" column="cmmsAmt"/>
      <result property="refundAmout" column="refundAmout"/>
  </resultMap>
  
   
   
   
   
   <select id="getWithdrawals" parameterType="java.lang.String" resultMap="PayFinancialSummary">
       SELECT
       SUM(pw.total_fee) AS realFee,
       SUM(pw.callback_cmms_amt) AS cmmsAmt
       FROM
       pay_finance_account_detail pfad
       LEFT JOIN pay_withdrawals pw ON pw.withdrawals_no = pfad.order_no
       WHERE
       1 = 1
       AND pfad.`status` = 1
       AND pfad.out_type = 1
       <if test="isToday == 'today'" >
        AND to_days(pw.time_end) = to_days(now())
       </if>
   </select>
   <select id="getRefund" parameterType="java.lang.String" resultMap="PayFinancialSummary">
       SELECT
       SUM(pr.refund_amount) AS refundAmout
       FROM
       pay_finance_account_detail pfad
       LEFT JOIN pay_refund pr ON pr.order_no = pfad.order_no
       WHERE
       1 = 1
       AND pfad.`status` = 1
       AND pfad.out_type = 2
       <if test="isToday == 'today'" >
        AND to_days(pr.created) = to_days(now())
       </if>
   </select>
    <select id="getIncome" parameterType="java.lang.String" resultType="java.math.BigDecimal">
        SELECT
            SUM(pad.detail_money) todayAdvancesReceived
        FROM
            pay_accounting_detail pad
        WHERE
            1 = 1
        <if test="type == 'todayPreMoney'" >
          AND pad.detail_type = '1'
          AND pad.order_complete_status = '0'
          AND to_days(pad.insert_time) = to_days(now())
        </if>
        <if test="type == 'todayRealMoney'" >
          AND pad.detail_type = '1'
          AND pad.order_complete_status = '1'
          AND to_days(pad.insert_time) = to_days(now())
        </if>
        <if test="type == 'todayInMoney'" >
          AND pad.detail_type = '1'
          AND to_days(pad.insert_time) = to_days(now())
          AND ( pad.order_complete_status = '0' OR pad.order_complete_status = '1')
        </if>
        <if test="type == 'allInMoney'" >
            AND pad.detail_type = '1'
            AND ( pad.order_complete_status = '0' OR pad.order_complete_status = '1')
        </if>
        <if test="type == 'useTodayCouponAllMoney'" >
            AND pad.detail_type = '3'
            AND to_days(pad.insert_time) = to_days(now())
            AND ( pad.order_complete_status = '0' OR pad.order_complete_status = '1')
        </if>
        <if test="type == 'useCouponAllMoney'" >
            AND pad.detail_type = '3'
            AND ( pad.order_complete_status = '0' OR pad.order_complete_status = '1')
        </if>
    </select>
    <select id="getRevenueMoney" resultType="java.math.BigDecimal">
        SELECT
            SUM(
                IFNULL(cmms_amt, 0) - IFNULL(callback_cmms_amt, 0)
            ) AS revenueMoney
        FROM
            pay_withdrawals
        WHERE
            callback_status = 1
    </select>
    <select id="getCompanySupplementInMoney" resultType="java.math.BigDecimal">
        SELECT
            SUM(budget_amount) AS companySupplementInMoney
        FROM
            pay_financial_bill
        WHERE
            busi_type = '扫码充值'
            OR busi_type = '网银充值'
    </select>
    <select id="selectByExample" parameterType="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pay_finance_account_detail
        where 1 = 1
        <if test="orderNo != null">
            and order_no = #{orderNo,jdbcType=VARCHAR}
        </if>
        <if test="outType != null">
            and out_type = #{outType,jdbcType=SMALLINT}
        </if>
    </select>

</mapper>