<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.pay.dao.PayFinanceAccountDetailMapper">
<resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="CHAR" property="orderNo" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="order_total_money" jdbcType="DECIMAL" property="orderTotalMoney" />
    <result column="real_payment_money" jdbcType="DECIMAL" property="realPaymentMoney" />
	<result column="coupon_hxd_money" jdbcType="DECIMAL" property="couponHxdMoney" />
	<result column="coupon_brand_money" jdbcType="DECIMAL" property="couponBrandMoney" />
    <result column="region_code" jdbcType="CHAR" property="regionCode" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="out_type" jdbcType="SMALLINT" property="outType" />
    <result column="wechat_account_status" jdbcType="SMALLINT" property="wechatAccountStatus" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="data_status" jdbcType="SMALLINT" property="dataStatus" />
    <result column="flow_direction_type" jdbcType="SMALLINT" property="flowDirectionType" />
    <result column="flow_direction_name" jdbcType="VARCHAR" property="flowDirectionName" />
    <result column="payment_account" jdbcType="VARCHAR" property="paymentAccount" />
    <result column="cmms_amt" jdbcType="DECIMAL" property="cmmsAmt" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="out_in_date" jdbcType="TIMESTAMP" property="outInDate" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
   
   <resultMap id="orderInfoFinancialInDetailVO" type="com.winhxd.b2c.common.domain.pay.vo.OrderInfoFinancialInDetailVO">
    <result column="orderNo"  property="orderNo" />
    <result column="storeId"   property="storeId" />
    <result column="storeName" property="storeName" />
    <result column="orderTotalMoney"  property="orderTotalMoney" />
    <result column="realPaymentMoney" property="realPaymentMoney" />
    <result column="payType"   property="payType" />
    <result column="payStatus"  property="payStatus" />
    <result column="inCountTime"   property="inCountTime" />
    <result column="status"   property="status" />
    <result column="regionCode"  property="regionCode" />
    <result column="regionName"  property="regionName" />
  </resultMap>
   
   <resultMap id="payFinanceAccountDetailVO" type="com.winhxd.b2c.common.domain.pay.vo.PayFinanceAccountDetailVO">
      <result property="allInMoney" column="allInMoney"/>
      <result property="allOutMoney" column="allOutMoney"/>
      <result property="type" column="type"/>
      <result property="outType" column="out_type"/>
      <result property="dataStatus" column="data_status"/>
      <result property="todayInMoney" column="todayInMoney"/>
      <result property="todayOutMoney" column="todayOutMoney"/>
      <result property="useCouponAllMoney" column="useCouponAllMoney"/>
      <result property="useTodayCouponAllMoney" column="useTodayCouponAllMoney"/>
      <result property="curLeftMoney" column="curLeftMoney"/>
      <result property="todayCharge" column="todayCharge"/>
       <result property="allCharge" column="allCharge"/>
  </resultMap>
  
  
   <resultMap id="PayFinancialSummary" type="com.winhxd.b2c.common.domain.pay.model.PayFinancialSummary">
      <result property="realFee" column="realFee"/>
      <result property="cmmsAmt" column="cmmsAmt"/>
      <result property="refundAmout" column="refundAmout"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, order_no, trade_no, money, store_id, region_code, region_name, type, out_type, 
    wechat_account_status, status, data_status, flow_direction_type, flow_direction_name, 
    payment_account, cmms_amt, rate, out_in_date, created_by, created_by_name, created, 
    updated_by, updated_by_name, updated
  </sql>
  
  <sql id="Base_Column_List_pre">
    pfad.id, pfad.order_no, pfad.trade_no, pfad.money, pfad.store_id, pfad.region_code, pfad.region_name, pfad.type, pfad.out_type, 
    pfad.wechat_account_status, pfad.status, pfad.data_status, pfad.flow_direction_type, pfad.flow_direction_name, 
    pfad.payment_account, pfad.cmms_amt, pfad.rate, pfad.out_in_date, pfad.created_by, pfad.created_by_name, pfad.created, 
    pfad.updated_by, pfad.updated_by_name, pfad.updated
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_finance_account_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_finance_account_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail">
    insert into pay_finance_account_detail (id, order_no, trade_no, 
      money, store_id, region_code, 
      region_name, type, out_type, 
      wechat_account_status, status, data_status, 
      flow_direction_type, flow_direction_name, 
      payment_account, cmms_amt, rate, 
      out_in_date, created_by, created_by_name, 
      created, updated_by, updated_by_name, 
      updated)
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=CHAR}, #{tradeNo,jdbcType=VARCHAR}, 
      #{money,jdbcType=DECIMAL}, #{storeId,jdbcType=BIGINT}, #{regionCode,jdbcType=CHAR}, 
      #{regionName,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT}, #{outType,jdbcType=SMALLINT}, 
      #{wechatAccountStatus,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, #{dataStatus,jdbcType=SMALLINT}, 
      #{flowDirectionType,jdbcType=SMALLINT}, #{flowDirectionName,jdbcType=VARCHAR}, 
      #{paymentAccount,jdbcType=VARCHAR}, #{cmmsAmt,jdbcType=DECIMAL}, #{rate,jdbcType=DECIMAL}, 
      #{outInDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedByName,jdbcType=VARCHAR}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail">
    insert into pay_finance_account_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="regionCode != null">
        region_code,
      </if>
      <if test="regionName != null">
        region_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="outType != null">
        out_type,
      </if>
      <if test="wechatAccountStatus != null">
        wechat_account_status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="dataStatus != null">
        data_status,
      </if>
      <if test="flowDirectionType != null">
        flow_direction_type,
      </if>
      <if test="flowDirectionName != null">
        flow_direction_name,
      </if>
      <if test="paymentAccount != null">
        payment_account,
      </if>
      <if test="cmmsAmt != null">
        cmms_amt,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="outInDate != null">
        out_in_date,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByName != null">
        created_by_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedByName != null">
        updated_by_name,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="regionCode != null">
        #{regionCode,jdbcType=CHAR},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="outType != null">
        #{outType,jdbcType=SMALLINT},
      </if>
      <if test="wechatAccountStatus != null">
        #{wechatAccountStatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="flowDirectionType != null">
        #{flowDirectionType,jdbcType=SMALLINT},
      </if>
      <if test="flowDirectionName != null">
        #{flowDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="paymentAccount != null">
        #{paymentAccount,jdbcType=VARCHAR},
      </if>
      <if test="cmmsAmt != null">
        #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="outInDate != null">
        #{outInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail">
    update pay_finance_account_detail
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=CHAR},
      </if>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="regionCode != null">
        region_code = #{regionCode,jdbcType=CHAR},
      </if>
      <if test="regionName != null">
        region_name = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="outType != null">
        out_type = #{outType,jdbcType=SMALLINT},
      </if>
      <if test="wechatAccountStatus != null">
        wechat_account_status = #{wechatAccountStatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="dataStatus != null">
        data_status = #{dataStatus,jdbcType=SMALLINT},
      </if>
      <if test="flowDirectionType != null">
        flow_direction_type = #{flowDirectionType,jdbcType=SMALLINT},
      </if>
      <if test="flowDirectionName != null">
        flow_direction_name = #{flowDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="paymentAccount != null">
        payment_account = #{paymentAccount,jdbcType=VARCHAR},
      </if>
      <if test="cmmsAmt != null">
        cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="outInDate != null">
        out_in_date = #{outInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.pay.model.PayFinanceAccountDetail">
    update pay_finance_account_detail
    set order_no = #{orderNo,jdbcType=CHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      store_id = #{storeId,jdbcType=BIGINT},
      region_code = #{regionCode,jdbcType=CHAR},
      region_name = #{regionName,jdbcType=VARCHAR},
      type = #{type,jdbcType=SMALLINT},
      out_type = #{outType,jdbcType=SMALLINT},
      wechat_account_status = #{wechatAccountStatus,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      data_status = #{dataStatus,jdbcType=SMALLINT},
      flow_direction_type = #{flowDirectionType,jdbcType=SMALLINT},
      flow_direction_name = #{flowDirectionName,jdbcType=VARCHAR},
      payment_account = #{paymentAccount,jdbcType=VARCHAR},
      cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=DECIMAL},
      out_in_date = #{outInDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <select id="selectTotalInOutMoney" parameterType="java.lang.Long" resultMap="payFinanceAccountDetailVO">
   		select 
   			type,sum(money) as allInMoney,sum(cmms_amt) as allCharge
   		from 
   			pay_finance_account_detail
   		where 
   			status = 1 and wechat_account_status = 2 and store_id = #{storeId,jdbcType=BIGINT}
   		group by 
   			type
   </select>
   
   <select id="selectTodayInMoney" parameterType="java.lang.Long" resultMap="payFinanceAccountDetailVO">
   		SELECT
			data_status,
			sum(money) AS todayInMoney
		FROM
			pay_finance_account_detail
		WHERE
	  	    status = 1 and wechat_account_status = 2 
	   		and out_in_date BETWEEN  DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')  AND DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59') 
	   		and store_id = #{storeId,jdbcType=BIGINT}
	   		group by data_status
   </select>
   <select id="selectTodayOutMoney" parameterType="java.lang.Long" resultMap="payFinanceAccountDetailVO">
   		SELECT
			out_type,
			sum(money) AS todayOutMoney,sum(cmms_amt) as todayCharge
		FROM
			pay_finance_account_detail
		WHERE
			STATUS = 1
		AND type = 1
		and out_in_date BETWEEN  DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')  AND DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')
		and store_id = #{storeId,jdbcType=BIGINT}
		GROUP BY
			out_type
   </select>
   
   <select id="selectCouponUsedMoney"  parameterType="java.lang.Long" resultMap="payFinanceAccountDetailVO">
   	SELECT
		SUM(coupon_hxd_money) + sum(coupon_brand_money) AS useCouponAllMoney
	FROM
		pay_finance_account_detail
	WHERE STATUS = 1 
	and
		store_id = #{storeId,jdbcType=BIGINT}
   </select>
   
   <select id="selectTodayCouponUsedMoney"  parameterType="java.lang.Long" resultMap="payFinanceAccountDetailVO">
   	SELECT
		SUM(coupon_hxd_money) + sum(coupon_brand_money) AS useTodayCouponAllMoney
	FROM
		pay_finance_account_detail
	WHERE STATUS = 1 
	and out_in_date BETWEEN  DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')  AND DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')
	and store_id = #{storeId,jdbcType=BIGINT}
   </select>
   
   <select id="selectFinancialInDetail"  parameterType="com.winhxd.b2c.common.domain.pay.condition.OrderInfoFinancialInDetailCondition" resultMap="orderInfoFinancialInDetailVO">
   	 select oi.order_no, oi.store_id,sui.store_name,oi.region_code,
   	 concat(sr.province,sr.city,sr.town,sr.county) as region_name,
   	  oi.orderTotalMoney, oi.realPaymentMoney,oi.payType, oi.payStatus, oi.payFinishDateTime, 
    from order_info oi left join store_user_info sui on sui.id = oi.store_id
    left join sys_region sr on oi.region_code = sr.region_code
     where oi.payStatus = 1 and oi.orderStatus = 9
      <if test="orderNo != null">
        and oi.order_no = #{orderNo,jdbcType=CHAR}
      </if>
      <if test="storeId != null">
       and oi.store_id = #{storeId,jdbcType=BIGINT}
      </if>
      <if test="regionCode != null">
       and oi.region_code = #{regionCode,jdbcType=CHAR}
      </if>
      <!-- 微信对账状态 在于对账表<if test="InAcountStatus != null">
       and wechat_account_status = #{wechatAccountStatus,jdbcType=SMALLINT}
      </if> -->
      <if test="inCountStartTime != null">
       AND oi.payFinishDateTime <![CDATA[ >= ]]> #{inCountStartTime}
      </if>
      <if test="inCountEndTime != null">
       AND oi.payFinishDateTime <![CDATA[ <= ]]> #{inCountEndTime}
      </if>
   </select>
   
    <resultMap id="payFinanceRetutnVO" type="com.winhxd.b2c.common.domain.pay.vo.PayFinanceAccountDetailVO">
    <result column="orderNo"  property="orderNo" />
    <result column="tradeNo" property="tradeNo" />
    <result column="money"  property="money" />
    <result column="store_id"   property="storeId" />
    <result column="storeName" property="storeName" />
    <result column="region_code"  property="regionCode" />
    <result column="region_name" property="regionName" />
    <result column="type"   property="type" />
    <result column="out_type"  property="outType" />
    <result column="wechat_account_status"   property="wechatAccountStatus" />
    <result column="status"   property="status" />
    <result column="data_status"  property="dataStatus" />
    <result column="flow_direction_type"  property="flowDirectionType" />
    <result column="flow_direction_name" property="flowDirectionName" />
    <result column="payment_account" property="paymentAccount" />
    <result column="cmms_amt"   property="cmmsAmt" />
    <result column="rate"  property="rate" />
    <result column="out_in_date"  property="outInDate" />
    <result column="created"   property="created" />
  </resultMap>
   
   <select id="selectFinancialOutDetail"  parameterType="com.winhxd.b2c.common.domain.pay.condition.PayFinanceAccountDetailCondition" resultMap="payFinanceRetutnVO">
   	 select 
    <include refid="Base_Column_List" /> 
     from pay_finance_account_detail 
     where status = 1 and type = 1
      <if test="storeId != null">
       and store_id = #{storeId,jdbcType=BIGINT}
      </if>
      <if test="regionCode != null">
       and region_code = #{regionCode,jdbcType=CHAR}
      </if>
      <if test="outType != null">
       and out_type = #{outType,jdbcType=SMALLINT}
      </if>
      <if test="createdStart != null">
       AND created <![CDATA[ >= ]]> #{createdStart}
      </if>
      <if test="createdEnd != null">
       AND created <![CDATA[ <= ]]> #{createdEnd}
      </if>
   </select>
   <select id="getWithdrawals" parameterType="java.lang.String" resultMap="PayFinancialSummary">
       SELECT
       SUM(pw.real_fee) AS realFee,
       SUM(pw.cmms_amt) AS cmmsAmt
       FROM
       pay_finance_account_detail pfad
       LEFT JOIN pay_withdrawals pw ON pw.withdrawals_no = pfad.order_no
       WHERE
       1 = 1
       AND pfad.`status` = 1
       AND pfad.out_type = 1
       <if test="isToday == 'today'" >
        AND to_days(pw.created) = to_days(now())
       </if>
   </select>
   <select id="getRefund" parameterType="java.lang.String" resultMap="PayFinancialSummary">
       SELECT
       SUM(pr.refund_amount) AS refundAmout
       FROM
       pay_finance_account_detail pfad
       LEFT JOIN pay_refund pr ON pr.order_no = pfad.order_no
       WHERE
       1 = 1
       AND pfad.`status` = 1
       AND pfad.out_type = 2
       <if test="isToday == 'today'" >
        AND to_days(pr.created) = to_days(now())
       </if>
   </select>
    <select id="getIncome" parameterType="java.lang.String" resultType="java.math.BigDecimal">
        SELECT
            SUM(pad.detail_money) todayAdvancesReceived
        FROM
            pay_accounting_detail pad
        WHERE
            1 = 1
        <if test="type == 'todayPreMoney'" >
          AND pad.detail_type = '1'
          AND pad.order_complete_status = '0'
          AND to_days(pad.insert_time) = to_days(now())
        </if>
        <if test="type == 'todayRealMoney'" >
          AND pad.detail_type = '1'
          AND pad.order_complete_status = '1'
          AND to_days(pad.insert_time) = to_days(now())
        </if>
        <if test="type == 'todayInMoney'" >
          AND pad.detail_type = '1'
          AND to_days(pad.insert_time) = to_days(now())
        </if>
        <if test="type == 'allInMoney'" >
            AND pad.detail_type = '1'
        </if>
        <if test="type == 'useTodayCouponAllMoney'" >
            AND pad.detail_type = '3'
            AND to_days(pad.insert_time) = to_days(now())
        </if>
        <if test="type == 'useCouponAllMoney'" >
            AND pad.detail_type = '3'
        </if>
    </select>
    <select id="getRevenueMoney" resultType="java.math.BigDecimal">
        SELECT
            SUM(
                IFNULL(cmms_amt, 0) - IFNULL(callback_cmms_amt, 0)
            ) AS revenueMoney
        FROM
            pay_withdrawals
    </select>
</mapper>