<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.pay.dao.PaymentRefundMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.pay.model.PaymentRefund">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="CHAR" property="orderNo" />
    <result column="order_transaction_no" jdbcType="VARCHAR" property="orderTransactionNo" />
    <result column="refund_no" jdbcType="CHAR" property="refundNo" />
    <result column="refund_transaction_no" jdbcType="VARCHAR" property="refundTransactionNo" />
    <result column="callback_date" jdbcType="TIMESTAMP" property="callbackDate" />
    <result column="time_end" jdbcType="TIMESTAMP" property="timeEnd" />
    <result column="callback_status" jdbcType="SMALLINT" property="callbackStatus" />
    <result column="callback_reason" jdbcType="VARCHAR" property="callbackReason" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="refund_fee" jdbcType="DECIMAL" property="refundFee" />
    <result column="callback_money" jdbcType="DECIMAL" property="callbackMoney" />
    <result column="pay_type" jdbcType="SMALLINT" property="payType" />
    <result column="cmms_amt" jdbcType="DECIMAL" property="cmmsAmt" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, order_transaction_no, refund_no, refund_transaction_no, callback_date, 
    time_end, callback_status, callback_reason, buyer_id, transaction_id, refund_fee, 
    callback_money, pay_type, cmms_amt, rate, created, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_refund
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from payment_refund
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.pay.model.PaymentRefund">
    insert into payment_refund (id, order_no, order_transaction_no, 
      refund_no, refund_transaction_no, callback_date, 
      time_end, callback_status, callback_reason, 
      buyer_id, transaction_id, refund_fee, 
      callback_money, pay_type, cmms_amt, 
      rate, created, updated
      )
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=CHAR}, #{orderTransactionNo,jdbcType=VARCHAR}, 
      #{refundNo,jdbcType=CHAR}, #{refundTransactionNo,jdbcType=VARCHAR}, #{callbackDate,jdbcType=TIMESTAMP}, 
      #{timeEnd,jdbcType=TIMESTAMP}, #{callbackStatus,jdbcType=SMALLINT}, #{callbackReason,jdbcType=VARCHAR}, 
      #{buyerId,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}, #{refundFee,jdbcType=DECIMAL}, 
      #{callbackMoney,jdbcType=DECIMAL}, #{payType,jdbcType=SMALLINT}, #{cmmsAmt,jdbcType=DECIMAL}, 
      #{rate,jdbcType=DECIMAL}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PaymentRefund">
    insert into payment_refund
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="orderTransactionNo != null">
        order_transaction_no,
      </if>
      <if test="refundNo != null">
        refund_no,
      </if>
      <if test="refundTransactionNo != null">
        refund_transaction_no,
      </if>
      <if test="callbackDate != null">
        callback_date,
      </if>
      <if test="timeEnd != null">
        time_end,
      </if>
      <if test="callbackStatus != null">
        callback_status,
      </if>
      <if test="callbackReason != null">
        callback_reason,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="refundFee != null">
        refund_fee,
      </if>
      <if test="callbackMoney != null">
        callback_money,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="cmmsAmt != null">
        cmms_amt,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="orderTransactionNo != null">
        #{orderTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="refundNo != null">
        #{refundNo,jdbcType=CHAR},
      </if>
      <if test="refundTransactionNo != null">
        #{refundTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="callbackDate != null">
        #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeEnd != null">
        #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackStatus != null">
        #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="callbackReason != null">
        #{callbackReason,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null">
        #{refundFee,jdbcType=DECIMAL},
      </if>
      <if test="callbackMoney != null">
        #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=SMALLINT},
      </if>
      <if test="cmmsAmt != null">
        #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PaymentRefund">
    update payment_refund
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=CHAR},
      </if>
      <if test="orderTransactionNo != null">
        order_transaction_no = #{orderTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="refundNo != null">
        refund_no = #{refundNo,jdbcType=CHAR},
      </if>
      <if test="refundTransactionNo != null">
        refund_transaction_no = #{refundTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="callbackDate != null">
        callback_date = #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeEnd != null">
        time_end = #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackStatus != null">
        callback_status = #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="callbackReason != null">
        callback_reason = #{callbackReason,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null">
        refund_fee = #{refundFee,jdbcType=DECIMAL},
      </if>
      <if test="callbackMoney != null">
        callback_money = #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=SMALLINT},
      </if>
      <if test="cmmsAmt != null">
        cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.pay.model.PaymentRefund">
    update payment_refund
    set order_no = #{orderNo,jdbcType=CHAR},
      order_transaction_no = #{orderTransactionNo,jdbcType=VARCHAR},
      refund_no = #{refundNo,jdbcType=CHAR},
      refund_transaction_no = #{refundTransactionNo,jdbcType=VARCHAR},
      callback_date = #{callbackDate,jdbcType=TIMESTAMP},
      time_end = #{timeEnd,jdbcType=TIMESTAMP},
      callback_status = #{callbackStatus,jdbcType=SMALLINT},
      callback_reason = #{callbackReason,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      refund_fee = #{refundFee,jdbcType=DECIMAL},
      callback_money = #{callbackMoney,jdbcType=DECIMAL},
      pay_type = #{payType,jdbcType=SMALLINT},
      cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=DECIMAL},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>