<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.pay.dao.PayOrderPaymentMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.pay.model.PayOrderPayment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="device_info" jdbcType="VARCHAR" property="deviceInfo" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="attach" jdbcType="VARCHAR" property="attach" />
    <result column="order_no" jdbcType="CHAR" property="orderNo" />
    <result column="order_transaction_no" jdbcType="VARCHAR" property="orderTransactionNo" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="callback_date" jdbcType="TIMESTAMP" property="callbackDate" />
    <result column="time_start" jdbcType="TIMESTAMP" property="timeStart" />
    <result column="time_expire" jdbcType="TIMESTAMP" property="timeExpire" />
    <result column="time_end" jdbcType="TIMESTAMP" property="timeEnd" />
    <result column="callback_status" jdbcType="SMALLINT" property="callbackStatus" />
    <result column="callback_error_code" jdbcType="VARCHAR" property="callbackErrorCode" />
    <result column="callback_error_reason" jdbcType="VARCHAR" property="callbackErrorReason" />
    <result column="prepay_id" jdbcType="VARCHAR" property="prepayId" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="real_payment_money" jdbcType="DECIMAL" property="realPaymentMoney" />
    <result column="callback_money" jdbcType="DECIMAL" property="callbackMoney" />
    <result column="pay_type" jdbcType="SMALLINT" property="payType" />
    <result column="cmms_amt" jdbcType="DECIMAL" property="cmmsAmt" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="operation_type" jdbcType="SMALLINT" property="operationType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appid, mch_id, device_info, nonce_str, product_id, body, detail, attach, order_no, 
    order_transaction_no, created, updated, callback_date, time_start, time_expire, time_end, 
    callback_status, callback_error_code, callback_error_reason, prepay_id, buyer_id, 
    transaction_id, real_payment_money, callback_money, pay_type, cmms_amt, rate, operation_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_order_payment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_order_payment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.pay.model.PayOrderPayment">
    insert into pay_order_payment (id, appid, mch_id, 
      device_info, nonce_str, product_id, 
      body, detail, attach, 
      order_no, order_transaction_no, created, 
      updated, callback_date, time_start, 
      time_expire, time_end, callback_status, 
      callback_error_code, callback_error_reason, 
      prepay_id, buyer_id, transaction_id, 
      real_payment_money, callback_money, pay_type, 
      cmms_amt, rate, operation_type
      )
    values (#{id,jdbcType=BIGINT}, #{appid,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, 
      #{deviceInfo,jdbcType=VARCHAR}, #{nonceStr,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{body,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=CHAR}, #{orderTransactionNo,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP}, #{callbackDate,jdbcType=TIMESTAMP}, #{timeStart,jdbcType=TIMESTAMP}, 
      #{timeExpire,jdbcType=TIMESTAMP}, #{timeEnd,jdbcType=TIMESTAMP}, #{callbackStatus,jdbcType=SMALLINT}, 
      #{callbackErrorCode,jdbcType=VARCHAR}, #{callbackErrorReason,jdbcType=VARCHAR}, 
      #{prepayId,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}, 
      #{realPaymentMoney,jdbcType=DECIMAL}, #{callbackMoney,jdbcType=DECIMAL}, #{payType,jdbcType=SMALLINT}, 
      #{cmmsAmt,jdbcType=DECIMAL}, #{rate,jdbcType=DECIMAL}, #{operationType,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayOrderPayment">
    insert into pay_order_payment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="mchId != null">
        mch_id,
      </if>
      <if test="deviceInfo != null">
        device_info,
      </if>
      <if test="nonceStr != null">
        nonce_str,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="body != null">
        body,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="attach != null">
        attach,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="orderTransactionNo != null">
        order_transaction_no,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="callbackDate != null">
        callback_date,
      </if>
      <if test="timeStart != null">
        time_start,
      </if>
      <if test="timeExpire != null">
        time_expire,
      </if>
      <if test="timeEnd != null">
        time_end,
      </if>
      <if test="callbackStatus != null">
        callback_status,
      </if>
      <if test="callbackErrorCode != null">
        callback_error_code,
      </if>
      <if test="callbackErrorReason != null">
        callback_error_reason,
      </if>
      <if test="prepayId != null">
        prepay_id,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="realPaymentMoney != null">
        real_payment_money,
      </if>
      <if test="callbackMoney != null">
        callback_money,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="cmmsAmt != null">
        cmms_amt,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="operationType != null">
        operation_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null">
        #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="orderTransactionNo != null">
        #{orderTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackDate != null">
        #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeStart != null">
        #{timeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="timeExpire != null">
        #{timeExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="timeEnd != null">
        #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackStatus != null">
        #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="callbackErrorCode != null">
        #{callbackErrorCode,jdbcType=VARCHAR},
      </if>
      <if test="callbackErrorReason != null">
        #{callbackErrorReason,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null">
        #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="realPaymentMoney != null">
        #{realPaymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="callbackMoney != null">
        #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=SMALLINT},
      </if>
      <if test="cmmsAmt != null">
        #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayOrderPayment">
    update pay_order_payment
    <set>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null">
        device_info = #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        attach = #{attach,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=CHAR},
      </if>
      <if test="orderTransactionNo != null">
        order_transaction_no = #{orderTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackDate != null">
        callback_date = #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeStart != null">
        time_start = #{timeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="timeExpire != null">
        time_expire = #{timeExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="timeEnd != null">
        time_end = #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackStatus != null">
        callback_status = #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="callbackErrorCode != null">
        callback_error_code = #{callbackErrorCode,jdbcType=VARCHAR},
      </if>
      <if test="callbackErrorReason != null">
        callback_error_reason = #{callbackErrorReason,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null">
        prepay_id = #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="realPaymentMoney != null">
        real_payment_money = #{realPaymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="callbackMoney != null">
        callback_money = #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=SMALLINT},
      </if>
      <if test="cmmsAmt != null">
        cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="operationType != null">
        operation_type = #{operationType,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.pay.model.PayOrderPayment">
    update pay_order_payment
    set appid = #{appid,jdbcType=VARCHAR},
      mch_id = #{mchId,jdbcType=VARCHAR},
      device_info = #{deviceInfo,jdbcType=VARCHAR},
      nonce_str = #{nonceStr,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      body = #{body,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      attach = #{attach,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=CHAR},
      order_transaction_no = #{orderTransactionNo,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      callback_date = #{callbackDate,jdbcType=TIMESTAMP},
      time_start = #{timeStart,jdbcType=TIMESTAMP},
      time_expire = #{timeExpire,jdbcType=TIMESTAMP},
      time_end = #{timeEnd,jdbcType=TIMESTAMP},
      callback_status = #{callbackStatus,jdbcType=SMALLINT},
      callback_error_code = #{callbackErrorCode,jdbcType=VARCHAR},
      callback_error_reason = #{callbackErrorReason,jdbcType=VARCHAR},
      prepay_id = #{prepayId,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      real_payment_money = #{realPaymentMoney,jdbcType=DECIMAL},
      callback_money = #{callbackMoney,jdbcType=DECIMAL},
      pay_type = #{payType,jdbcType=SMALLINT},
      cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=DECIMAL},
      operation_type = #{operationType,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByOrderPaymentNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pay_order_payment
    where order_transaction_no = #{orderTransactionNo,jdbcType=VARCHAR}
  </select>
   <update id="updateByOrderTransactionNoSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayOrderPayment">
    update pay_order_payment
    <set>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null">
        device_info = #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="attach != null">
        attach = #{attach,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=CHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackDate != null">
        callback_date = #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeStart != null">
        time_start = #{timeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="timeExpire != null">
        time_expire = #{timeExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="timeEnd != null">
        time_end = #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackStatus != null">
        callback_status = #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="callbackErrorCode != null">
        callback_error_code = #{callbackErrorCode,jdbcType=VARCHAR},
      </if>
      <if test="callbackErrorReason != null">
        callback_error_reason = #{callbackErrorReason,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null">
        prepay_id = #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="realPaymentMoney != null">
        real_payment_money = #{realPaymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="callbackMoney != null">
        callback_money = #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=SMALLINT},
      </if>
      <if test="cmmsAmt != null">
        cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="operationType != null">
        operation_type = #{operationType,jdbcType=SMALLINT},
      </if>
    </set>
    where  order_transaction_no = #{orderTransactionNo,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pay_order_payment
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  
  
</mapper>