<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.pay.dao.PayRefundPaymentMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.pay.model.PayRefundPayment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="CHAR" property="orderNo" />
    <result column="order_transaction_no" jdbcType="VARCHAR" property="orderTransactionNo" />
    <result column="refund_no" jdbcType="CHAR" property="refundNo" />
    <result column="refund_transaction_no" jdbcType="VARCHAR" property="refundTransactionNo" />
    <result column="callback_date" jdbcType="TIMESTAMP" property="callbackDate" />
    <result column="callback_status" jdbcType="SMALLINT" property="callbackStatus" />
    <result column="refund_desc" jdbcType="VARCHAR" property="refundDesc" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="refund_fee" jdbcType="DECIMAL" property="refundFee" />
    <result column="callback_money" jdbcType="DECIMAL" property="callbackMoney" />
    <result column="pay_type" jdbcType="SMALLINT" property="payType" />
    <result column="cmms_amt" jdbcType="DECIMAL" property="cmmsAmt" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="callback_error_code" jdbcType="VARCHAR" property="callbackErrorCode" />
    <result column="callback_error_message" jdbcType="VARCHAR" property="callbackErrorMessage" />
    <result column="callback_success_time" jdbcType="TIMESTAMP" property="callbackSuccessTime" />
    <result column="callback_refund_recv_accout" jdbcType="VARCHAR" property="callbackRefundRecvAccout" />
    <result column="callback_refund_account" jdbcType="VARCHAR" property="callbackRefundAccount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, order_transaction_no, refund_no, refund_transaction_no, callback_date, 
    callback_status, refund_desc, buyer_id, transaction_id, refund_fee, callback_money, 
    pay_type, cmms_amt, rate, created, updated, appid, mch_id, nonce_str, total_amount, 
    callback_error_code, callback_error_message, callback_success_time, callback_refund_recv_accout, callback_refund_account
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_refund_payment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_refund_payment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.pay.model.PayRefundPayment">
    insert into pay_refund_payment (id, order_no, order_transaction_no, 
      refund_no, refund_transaction_no, callback_date, 
      callback_status, refund_desc, buyer_id, 
      transaction_id, refund_fee, callback_money, 
      pay_type, cmms_amt, rate, 
      created, updated, appid, 
      mch_id, nonce_str, total_amount, 
      callback_error_code, callback_error_message, callback_success_time, 
      callback_refund_recv_accout, callback_refund_account
      )
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=CHAR}, #{orderTransactionNo,jdbcType=VARCHAR}, 
      #{refundNo,jdbcType=CHAR}, #{refundTransactionNo,jdbcType=VARCHAR}, #{callbackDate,jdbcType=TIMESTAMP}, 
      #{callbackStatus,jdbcType=SMALLINT}, #{refundDesc,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR}, 
      #{transactionId,jdbcType=VARCHAR}, #{refundFee,jdbcType=DECIMAL}, #{callbackMoney,jdbcType=DECIMAL}, 
      #{payType,jdbcType=SMALLINT}, #{cmmsAmt,jdbcType=DECIMAL}, #{rate,jdbcType=DECIMAL}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}, #{appid,jdbcType=VARCHAR}, 
      #{mchId,jdbcType=VARCHAR}, #{nonceStr,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DECIMAL}, 
      #{callbackErrorCode,jdbcType=VARCHAR}, #{callbackErrorMessage,jdbcType=VARCHAR}, #{callbackSuccessTime,jdbcType=TIMESTAMP}, 
      #{callbackRefundRecvAccout,jdbcType=VARCHAR}, #{callbackRefundAccount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayRefundPayment">
    insert into pay_refund_payment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="orderTransactionNo != null">
        order_transaction_no,
      </if>
      <if test="refundNo != null">
        refund_no,
      </if>
      <if test="refundTransactionNo != null">
        refund_transaction_no,
      </if>
      <if test="callbackDate != null">
        callback_date,
      </if>
      <if test="callbackStatus != null">
        callback_status,
      </if>
      <if test="refundDesc != null">
        refund_desc,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="refundFee != null">
        refund_fee,
      </if>
      <if test="callbackMoney != null">
        callback_money,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="cmmsAmt != null">
        cmms_amt,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="mchId != null">
        mch_id,
      </if>
      <if test="nonceStr != null">
        nonce_str,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="callbackErrorCode != null">
        callback_error_code,
      </if>
      <if test="callbackErrorMessage != null">
        callback_error_message,
      </if>
      <if test="callbackSuccessTime != null">
        callback_success_time,
      </if>
      <if test="callbackRefundRecvAccout != null">
        callback_refund_recv_accout,
      </if>
      <if test="callbackRefundAccount != null">
        callback_refund_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="orderTransactionNo != null">
        #{orderTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="refundNo != null">
        #{refundNo,jdbcType=CHAR},
      </if>
      <if test="refundTransactionNo != null">
        #{refundTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="callbackDate != null">
        #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackStatus != null">
        #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="refundDesc != null">
        #{refundDesc,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null">
        #{refundFee,jdbcType=DECIMAL},
      </if>
      <if test="callbackMoney != null">
        #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=SMALLINT},
      </if>
      <if test="cmmsAmt != null">
        #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="callbackErrorCode != null">
        #{callbackErrorCode,jdbcType=VARCHAR},
      </if>
      <if test="callbackErrorMessage != null">
        #{callbackErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="callbackSuccessTime != null">
        #{callbackSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackRefundRecvAccout != null">
        #{callbackRefundRecvAccout,jdbcType=VARCHAR},
      </if>
      <if test="callbackRefundAccount != null">
        #{callbackRefundAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayRefundPayment">
    update pay_refund_payment
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=CHAR},
      </if>
      <if test="orderTransactionNo != null">
        order_transaction_no = #{orderTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="refundNo != null">
        refund_no = #{refundNo,jdbcType=CHAR},
      </if>
      <if test="refundTransactionNo != null">
        refund_transaction_no = #{refundTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="callbackDate != null">
        callback_date = #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackStatus != null">
        callback_status = #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="refundDesc != null">
        refund_desc = #{refundDesc,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null">
        refund_fee = #{refundFee,jdbcType=DECIMAL},
      </if>
      <if test="callbackMoney != null">
        callback_money = #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=SMALLINT},
      </if>
      <if test="cmmsAmt != null">
        cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="callbackErrorCode != null">
        callback_error_code = #{callbackErrorCode,jdbcType=VARCHAR},
      </if>
      <if test="callbackErrorMessage != null">
        callback_error_message = #{callbackErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="callbackSuccessTime != null">
        callback_success_time = #{callbackSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackRefundRecvAccout != null">
        callback_refund_recv_accout = #{callbackRefundRecvAccout,jdbcType=VARCHAR},
      </if>
      <if test="callbackRefundAccount != null">
        callback_refund_account = #{callbackRefundAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.pay.model.PayRefundPayment">
    update pay_refund_payment
    set order_no = #{orderNo,jdbcType=CHAR},
      order_transaction_no = #{orderTransactionNo,jdbcType=VARCHAR},
      refund_no = #{refundNo,jdbcType=CHAR},
      refund_transaction_no = #{refundTransactionNo,jdbcType=VARCHAR},
      callback_date = #{callbackDate,jdbcType=TIMESTAMP},
      callback_status = #{callbackStatus,jdbcType=SMALLINT},
      refund_desc = #{refundDesc,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      refund_fee = #{refundFee,jdbcType=DECIMAL},
      callback_money = #{callbackMoney,jdbcType=DECIMAL},
      pay_type = #{payType,jdbcType=SMALLINT},
      cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=DECIMAL},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      appid = #{appid,jdbcType=VARCHAR},
      mch_id = #{mchId,jdbcType=VARCHAR},
      nonce_str = #{nonceStr,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      callback_error_code = #{callbackErrorCode,jdbcType=VARCHAR},
      callback_error_message = #{callbackErrorMessage,jdbcType=VARCHAR},
      callback_success_time = #{callbackSuccessTime,jdbcType=TIMESTAMP},
      callback_refund_recv_accout = #{callbackRefundRecvAccout,jdbcType=VARCHAR},
      callback_refund_account = #{callbackRefundAccount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByRefundTransactionNoSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayRefundPayment">
    update pay_refund_payment
    <set>
      <if test="callbackDate != null">
        callback_date = #{callbackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackStatus != null">
        callback_status = #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="refundDesc != null">
        refund_desc = #{refundDesc,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="refundFee != null">
        refund_fee = #{refundFee,jdbcType=DECIMAL},
      </if>
      <if test="callbackMoney != null">
        callback_money = #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=SMALLINT},
      </if>
      <if test="cmmsAmt != null">
        cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="callbackErrorCode != null">
        callback_error_code = #{callbackErrorCode,jdbcType=VARCHAR},
      </if>
      <if test="callbackErrorMessage != null">
        callback_error_message = #{callbackErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="callbackSuccessTime != null">
        callback_success_time = #{callbackSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackRefundRecvAccout != null">
        callback_refund_recv_accout = #{callbackRefundRecvAccout,jdbcType=VARCHAR},
      </if>
      <if test="callbackRefundAccount != null">
        callback_refund_account = #{callbackRefundAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where refund_transaction_no = #{refundTransactionNo,jdbcType=VARCHAR}
  </update>
  
  
  <!-- 自定义sql -->
  <select id="selectByRefundTransactionNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_refund_payment
    where  refund_transaction_no = #{refundTransactionNo,jdbcType=VARCHAR}
  </select>
</mapper>