<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.pay.dao.PayStoreWalletMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.pay.model.PayStoreWallet">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="nick" jdbcType="VARCHAR" property="nick" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="verification_code" jdbcType="VARCHAR" property="verificationCode" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_id, openid, nick, name, status, mobile, verification_code, created, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_store_wallet
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_store_wallet
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.pay.model.PayStoreWallet">
    insert into pay_store_wallet (id, store_id, openid, 
      nick, name, status, 
      mobile, verification_code, created, 
      updated)
    values (#{id,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, 
      #{nick,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{mobile,jdbcType=CHAR}, #{verificationCode,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayStoreWallet">
    insert into pay_store_wallet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="nick != null">
        nick,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="verificationCode != null">
        verification_code,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="verificationCode != null">
        #{verificationCode,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayStoreWallet">
    update pay_store_wallet
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="verificationCode != null">
        verification_code = #{verificationCode,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.pay.model.PayStoreWallet">
    update pay_store_wallet
    set store_id = #{storeId,jdbcType=BIGINT},
      openid = #{openid,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      mobile = #{mobile,jdbcType=CHAR},
      verification_code = #{verificationCode,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateBatchStatus" parameterType="java.lang.Long">
  	update pay_store_wallet
	    <set>
	        status = 0
	    </set>
    where status = 1 and store_id = #{storeId,jdbcType=BIGINT}
  </update>
  
  <select id="selectByStoreId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_store_wallet 
    where store_id = #{storeId,jdbcType=BIGINT} and status=1
  </select>
  
  <select id="selectByCondtion" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from pay_store_wallet 
    where 1=1
      <if test="storeId != null">
       and store_id = #{storeId,jdbcType=BIGINT}
      </if>
      <if test="openid != null">
       and openid = #{openid,jdbcType=VARCHAR}
      </if>
      <if test="nick != null">
       and nick = #{nick,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
       and name = #{name,jdbcType=VARCHAR}
      </if>
  </select>
</mapper>