<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.pay.dao.PayWithdrawalsPaymentMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.pay.model.PayWithdrawalsPayment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="withdrawals_no" jdbcType="CHAR" property="withdrawalsNo" />
    <result column="withdrawals_transaction_no" jdbcType="VARCHAR" property="withdrawalsTransactionNo" />
    <result column="total_fee" jdbcType="DECIMAL" property="totalFee" />
    <result column="time_end" jdbcType="TIMESTAMP" property="timeEnd" />
    <result column="withdraw_status" jdbcType="SMALLINT" property="withdrawStatus" />
    <result column="withdraw_status_desc" jdbcType="VARCHAR" property="withdrawStatusDesc" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="callback_money" jdbcType="DECIMAL" property="callbackMoney" />
    <result column="real_fee" jdbcType="DECIMAL" property="realFee" />
    <result column="cmms_amt" jdbcType="DECIMAL" property="cmmsAmt" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_id, withdrawals_no, withdrawals_transaction_no, total_fee, time_end, withdraw_status, 
    withdraw_status_desc, buyer_id, transaction_id, callback_money, real_fee, cmms_amt, 
    rate, created, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_withdrawals_payment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_withdrawals_payment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.pay.model.PayWithdrawalsPayment">
    insert into pay_withdrawals_payment (id, store_id, withdrawals_no, 
      withdrawals_transaction_no, total_fee, time_end, 
      withdraw_status, withdraw_status_desc, buyer_id, 
      transaction_id, callback_money, real_fee, 
      cmms_amt, rate, created, 
      updated)
    values (#{id,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, #{withdrawalsNo,jdbcType=CHAR}, 
      #{withdrawalsTransactionNo,jdbcType=VARCHAR}, #{totalFee,jdbcType=DECIMAL}, #{timeEnd,jdbcType=TIMESTAMP}, 
      #{withdrawStatus,jdbcType=SMALLINT}, #{withdrawStatusDesc,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR}, 
      #{transactionId,jdbcType=VARCHAR}, #{callbackMoney,jdbcType=DECIMAL}, #{realFee,jdbcType=DECIMAL}, 
      #{cmmsAmt,jdbcType=DECIMAL}, #{rate,jdbcType=DECIMAL}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayWithdrawalsPayment">
    insert into pay_withdrawals_payment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="withdrawalsNo != null">
        withdrawals_no,
      </if>
      <if test="withdrawalsTransactionNo != null">
        withdrawals_transaction_no,
      </if>
      <if test="totalFee != null">
        total_fee,
      </if>
      <if test="timeEnd != null">
        time_end,
      </if>
      <if test="withdrawStatus != null">
        withdraw_status,
      </if>
      <if test="withdrawStatusDesc != null">
        withdraw_status_desc,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="callbackMoney != null">
        callback_money,
      </if>
      <if test="realFee != null">
        real_fee,
      </if>
      <if test="cmmsAmt != null">
        cmms_amt,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="withdrawalsNo != null">
        #{withdrawalsNo,jdbcType=CHAR},
      </if>
      <if test="withdrawalsTransactionNo != null">
        #{withdrawalsTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="timeEnd != null">
        #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="withdrawStatus != null">
        #{withdrawStatus,jdbcType=SMALLINT},
      </if>
      <if test="withdrawStatusDesc != null">
        #{withdrawStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="callbackMoney != null">
        #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="realFee != null">
        #{realFee,jdbcType=DECIMAL},
      </if>
      <if test="cmmsAmt != null">
        #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayWithdrawalsPayment">
    update pay_withdrawals_payment
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="withdrawalsNo != null">
        withdrawals_no = #{withdrawalsNo,jdbcType=CHAR},
      </if>
      <if test="withdrawalsTransactionNo != null">
        withdrawals_transaction_no = #{withdrawalsTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        total_fee = #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="timeEnd != null">
        time_end = #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="withdrawStatus != null">
        withdraw_status = #{withdrawStatus,jdbcType=SMALLINT},
      </if>
      <if test="withdrawStatusDesc != null">
        withdraw_status_desc = #{withdrawStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="callbackMoney != null">
        callback_money = #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="realFee != null">
        real_fee = #{realFee,jdbcType=DECIMAL},
      </if>
      <if test="cmmsAmt != null">
        cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.pay.model.PayWithdrawalsPayment">
    update pay_withdrawals_payment
    set store_id = #{storeId,jdbcType=BIGINT},
      withdrawals_no = #{withdrawalsNo,jdbcType=CHAR},
      withdrawals_transaction_no = #{withdrawalsTransactionNo,jdbcType=VARCHAR},
      total_fee = #{totalFee,jdbcType=DECIMAL},
      time_end = #{timeEnd,jdbcType=TIMESTAMP},
      withdraw_status = #{withdrawStatus,jdbcType=SMALLINT},
      withdraw_status_desc = #{withdrawStatusDesc,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      callback_money = #{callbackMoney,jdbcType=DECIMAL},
      real_fee = #{realFee,jdbcType=DECIMAL},
      cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=DECIMAL},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>