<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.pay.dao.PayWithdrawalsMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.pay.model.PayWithdrawals">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="withdrawals_no" jdbcType="CHAR" property="withdrawalsNo" />
    <result column="withdrawals_transaction_no" jdbcType="VARCHAR" property="withdrawalsTransactionNo" />
    <result column="total_fee" jdbcType="DECIMAL" property="totalFee" />
    <result column="real_fee" jdbcType="DECIMAL" property="realFee" />
    <result column="cmms_amt" jdbcType="DECIMAL" property="cmmsAmt" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="audit_status" jdbcType="SMALLINT" property="auditStatus" />
    <result column="audit_desc" jdbcType="VARCHAR" property="auditDesc" />
    <result column="callback_status" jdbcType="SMALLINT" property="callbackStatus" />
    <result column="callback_reason" jdbcType="VARCHAR" property="callbackReason" />
    <result column="callback_cmms_amt" jdbcType="DECIMAL" property="callbackCmmsAmt" />
    <result column="flow_direction_type" jdbcType="SMALLINT" property="flowDirectionType" />
    <result column="flow_direction_name" jdbcType="VARCHAR" property="flowDirectionName" />
    <result column="swift_code" jdbcType="VARCHAR" property="swiftCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="payment_account" jdbcType="CHAR" property="paymentAccount" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="callback_money" jdbcType="DECIMAL" property="callbackMoney" />
    <result column="time_end" jdbcType="TIMESTAMP" property="timeEnd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_id, withdrawals_no, withdrawals_transaction_no, total_fee, real_fee, cmms_amt, 
    rate, audit_status, audit_desc, callback_status, callback_reason,callback_cmms_amt, flow_direction_type,
    flow_direction_name,swift_code, name, mobile, payment_account, created, created_by, created_by_name,
    updated_by, updated_by_name, updated, buyer_id, transaction_id, callback_money, time_end
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_withdrawals
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_withdrawals
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.pay.model.PayWithdrawals">
    insert into pay_withdrawals (id, store_id, withdrawals_no, 
      withdrawals_transaction_no, total_fee, real_fee, 
      cmms_amt, rate, audit_status, 
      audit_desc, callback_status, callback_reason, callback_cmms_amt,
      flow_direction_type, flow_direction_name,swift_code,
      name, mobile, payment_account, 
      created, created_by, created_by_name, 
      updated_by, updated_by_name, updated, 
      buyer_id, transaction_id, callback_money, 
      time_end)
    values (#{id,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, #{withdrawalsNo,jdbcType=CHAR}, 
      #{withdrawalsTransactionNo,jdbcType=VARCHAR}, #{totalFee,jdbcType=DECIMAL}, #{realFee,jdbcType=DECIMAL}, 
      #{cmmsAmt,jdbcType=DECIMAL}, #{rate,jdbcType=DECIMAL}, #{auditStatus,jdbcType=SMALLINT}, 
      #{auditDesc,jdbcType=VARCHAR}, #{callbackStatus,jdbcType=SMALLINT}, #{callbackReason,jdbcType=VARCHAR}, #{callbackCmmsAmt,jdbcType=DECIMAL},
      #{flowDirectionType,jdbcType=SMALLINT}, #{flowDirectionName,jdbcType=VARCHAR}, #{swiftCode,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{paymentAccount,jdbcType=CHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}, #{createdByName,jdbcType=VARCHAR}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedByName,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, 
      #{buyerId,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}, #{callbackMoney,jdbcType=DECIMAL}, 
      #{timeEnd,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayWithdrawals">
    insert into pay_withdrawals
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="withdrawalsNo != null">
        withdrawals_no,
      </if>
      <if test="withdrawalsTransactionNo != null">
        withdrawals_transaction_no,
      </if>
      <if test="totalFee != null">
        total_fee,
      </if>
      <if test="realFee != null">
        real_fee,
      </if>
      <if test="cmmsAmt != null">
        cmms_amt,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="auditDesc != null">
        audit_desc,
      </if>
      <if test="callbackStatus != null">
        callback_status,
      </if>
      <if test="callbackReason != null">
        callback_reason,
      </if>
      <if test="callbackCmmsAmt != null">
        callback_cmms_amt,
      </if>
      <if test="flowDirectionType != null">
        flow_direction_type,
      </if>
      <if test="flowDirectionName != null">
      flow_direction_name,
    </if>
      <if test="swiftCode != null">
        swift_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="paymentAccount != null">
        payment_account,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByName != null">
        created_by_name,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedByName != null">
        updated_by_name,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="callbackMoney != null">
        callback_money,
      </if>
      <if test="timeEnd != null">
        time_end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="withdrawalsNo != null">
        #{withdrawalsNo,jdbcType=CHAR},
      </if>
      <if test="withdrawalsTransactionNo != null">
        #{withdrawalsTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="realFee != null">
        #{realFee,jdbcType=DECIMAL},
      </if>
      <if test="cmmsAmt != null">
        #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=SMALLINT},
      </if>
      <if test="auditDesc != null">
        #{auditDesc,jdbcType=VARCHAR},
      </if>
      <if test="callbackStatus != null">
        #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="callbackReason != null">
        #{callbackReason,jdbcType=VARCHAR},
      </if>
      <if test="callbackCmmsAmt != null">
        #{callbackCmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="flowDirectionType != null">
        #{flowDirectionType,jdbcType=SMALLINT},
      </if>
      <if test="flowDirectionName != null">
        #{flowDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="swiftCode != null">
        #{swiftCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="paymentAccount != null">
        #{paymentAccount,jdbcType=CHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="callbackMoney != null">
        #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="timeEnd != null">
        #{timeEnd,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayWithdrawals">
    update pay_withdrawals
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="withdrawalsNo != null">
        withdrawals_no = #{withdrawalsNo,jdbcType=CHAR},
      </if>
      <if test="withdrawalsTransactionNo != null">
        withdrawals_transaction_no = #{withdrawalsTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        total_fee = #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="realFee != null">
        real_fee = #{realFee,jdbcType=DECIMAL},
      </if>
      <if test="cmmsAmt != null">
        cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=SMALLINT},
      </if>
      <if test="auditDesc != null">
        audit_desc = #{auditDesc,jdbcType=VARCHAR},
      </if>
      <if test="callbackStatus != null">
        callback_status = #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="callbackReason != null">
        callback_reason = #{callbackReason,jdbcType=VARCHAR},
      </if>
      <if test="callbackCmmsAmt != null">
        callback_cmms_amt = #{callbackCmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="flowDirectionType != null">
        flow_direction_type = #{flowDirectionType,jdbcType=SMALLINT},
      </if>
      <if test="flowDirectionName != null">
        flow_direction_name = #{flowDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="swiftCode != null">
        swift_code = #{swiftCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="paymentAccount != null">
        payment_account = #{paymentAccount,jdbcType=CHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="callbackMoney != null">
        callback_money = #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="timeEnd != null">
        time_end = #{timeEnd,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.pay.model.PayWithdrawals">
    update pay_withdrawals
    set store_id = #{storeId,jdbcType=BIGINT},
      withdrawals_no = #{withdrawalsNo,jdbcType=CHAR},
      withdrawals_transaction_no = #{withdrawalsTransactionNo,jdbcType=VARCHAR},
      total_fee = #{totalFee,jdbcType=DECIMAL},
      real_fee = #{realFee,jdbcType=DECIMAL},
      cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=DECIMAL},
      audit_status = #{auditStatus,jdbcType=SMALLINT},
      audit_desc = #{auditDesc,jdbcType=VARCHAR},
      callback_status = #{callbackStatus,jdbcType=SMALLINT},
      callback_reason = #{callbackReason,jdbcType=VARCHAR},
      callback_cmms_amt = #{callbackCmmsAmt,jdbcType=DECIMAL},
      flow_direction_type = #{flowDirectionType,jdbcType=SMALLINT},
      flow_direction_name = #{flowDirectionName,jdbcType=VARCHAR},
      swiftCode = #{swift_code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      payment_account = #{paymentAccount,jdbcType=CHAR},
      created = #{created,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_by_name = #{createdByName,jdbcType=VARCHAR},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      callback_money = #{callbackMoney,jdbcType=DECIMAL},
      time_end = #{timeEnd,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <resultMap id="voResultMap" type="com.winhxd.b2c.common.domain.pay.vo.PayWithdrawalsVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="withdrawals_no" jdbcType="CHAR" property="withdrawalsNo" />
    <result column="total_fee" jdbcType="DECIMAL" property="totalFee" />
    <result column="real_fee" jdbcType="DECIMAL" property="realFee" />
    <result column="cmms_amt" jdbcType="DECIMAL" property="cmmsAmt" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="audit_status" jdbcType="SMALLINT" property="auditStatus" />
    <result column="audit_desc" jdbcType="VARCHAR" property="auditDesc" />
    <result column="callback_status" jdbcType="SMALLINT" property="callbackStatus" />
    <result column="callback_reason" jdbcType="VARCHAR" property="callbackReason" />
    <result column="flow_direction_type" jdbcType="SMALLINT" property="flowDirectionType" />
    <result column="flow_direction_name" jdbcType="VARCHAR" property="flowDirectionName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="payment_account" jdbcType="CHAR" property="paymentAccount" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>

  <!-- 根据门店id查询提现列表信息 -->
  <select id="getPayWithdrawalsByStoreId" parameterType="java.lang.Long" resultMap="voResultMap">
    select
    <include refid="Base_Column_List" />
    from pay_withdrawals
    where store_id = #{storeId}
  </select>

  <resultMap id="storeUserinfoVo" type="com.winhxd.b2c.common.domain.pay.vo.PayStoreUserInfoVO">
    <result column="storeName" property="storeName" />
    <result column="storeMobile" property="storeMobile"/>
    <result column="storeAddress" property="storeAddress" />
    <result column="storeRegionCode" property="storeRegionCode" />
    <result column="contactMobile" property="contactMobile" />
    <result column="openid" property="openid" />
    <result column="storeStatus" property="storeStatus" />
    <result column="totalMoney" property="totalMoney" />
    <result column="totalFee" property="totalFee" />
    <result column="cardNumber" property="cardNumber" />
    <result column="flowDirectionType" property="flowDirectionType" />
    <result column="flowDirectionName" property="flowDirectionName" />
    <result column="bandBranchName" property="bandBranchName" />
    <result column="bankName" property="bankName" />
    <result column="bankUserName" property="bankUserName" />
    <result column="swiftCode" property="swiftCode" />
  </resultMap>

  <sql id="common_storeUser">
    sui.store_name as storeName,sui.store_mobile as storeMobile,
    sui.store_address as storeAddress,sui.store_region_code as storeRegionCode,
    sui.contact_mobile as contactMobile,sui.openid as openid,sui.store_status as storeStatus
  </sql>

  <sql id="common_statusBank">
    sbc.card_number as cardNumber,sbc.bank_name as flowDirectionName,sbc.band_branch_name as bandBranchName,
    sbc.mobile as storeMobile,sbc.bank_name as bankName,sbc.bank_user_name as bankUserName,sbc.swift_code as swiftCode
  </sql>

  <!--根据门店id查询门店用户的信息以及当前账户的可提现资金  -->
  <select id="getPayStoreUserInfo" parameterType="java.lang.Long" resultMap="storeUserinfoVo">
    select
    <include refid="common_storeUser"/>,sbk.total_moeny as totalMoney,sbk.presented_money as totalFee
    from store_user_info sui left join store_bankroll sbk on sui.store_id = sbk.store_id
    where sui.id = #{storeId,jdbcType=BIGINT} and sui.store_status = 1
  </select>

  <!--根据门店id查询门店用户绑定的银行账户信息  -->
  <select id="getStorBankCardInfo" parameterType="java.lang.Long" resultMap="storeUserinfoVo">
    select
    <include refid="common_statusBank"/>,sui.store_name as storeName,sbk.total_moeny as totalMoney,sbk.presented_money as totalFee
    from store_bank_card sbc left join store_bankroll sbk on sbc.store_id = sbk.store_id
    left join store_user_info sui on sbc.store_id = sui.id
    where sbc.store_id = #{storeId,jdbcType=BIGINT} and sbc.status = 1 order by sbc.created DESC,sbc.updated desc
  </select>


  <select id="selectPayWithdrawalsListByCondition" resultMap="voResultMap" parameterType="com.winhxd.b2c.common.domain.pay.condition.PayWithdrawalsListCondition">
    select
    <include refid="Base_Column_List"/>
    from pay_withdrawals
    where 1 = 1
    <if test="storeId != null">
      and store_id = #{storeId}
    </if>
    <if test="auditStatus != null">
      and audit_status = #{auditStatus}
    </if>
    <if test="callbackStatus != null">
      and callback_status = #{callbackStatus}
    </if>
    <if test="withdrawalsDateStart != null">
      and time_end &gt;= date_format(#{withdrawalsDateStart}, '%Y-%m-%d')
    </if>
    <if test="withdrawalsDateEnd != null">
      and time_end &lt; date_add(date_format(#{withdrawalsDateEnd}, '%Y-%m-%d'), interval 1 day)
    </if>
    <if test="totalFeeStart != null">
      and total_fee &gt;= #{totalFeeStart}
    </if>
    <if test="totalFeeEnd != null">
      and total_fee &lt;= #{totalFeeEnd}
    </if>
    order by 1 desc
  </select>

  <update id="updateByWithdrawalsNoSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayWithdrawals">
    update pay_withdrawals
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="withdrawalsNo != null">
        withdrawals_no = #{withdrawalsNo,jdbcType=CHAR},
      </if>
      <if test="withdrawalsTransactionNo != null">
        withdrawals_transaction_no = #{withdrawalsTransactionNo,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        total_fee = #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="realFee != null">
        real_fee = #{realFee,jdbcType=DECIMAL},
      </if>
      <if test="cmmsAmt != null">
        cmms_amt = #{cmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=SMALLINT},
      </if>
      <if test="auditDesc != null">
        audit_desc = #{auditDesc,jdbcType=VARCHAR},
      </if>
      <if test="callbackStatus != null">
        callback_status = #{callbackStatus,jdbcType=SMALLINT},
      </if>
      <if test="callbackReason != null">
      callback_reason = #{callbackReason,jdbcType=VARCHAR},
    </if>
      <if test="callbackCmmsAmt != null">
        callback_cmms_amt = #{callbackCmmsAmt,jdbcType=DECIMAL},
      </if>
      <if test="flowDirectionType != null">
        flow_direction_type = #{flowDirectionType,jdbcType=SMALLINT},
      </if>
      <if test="flowDirectionName != null">
        flow_direction_name = #{flowDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="swiftCode != null">
        swift_code = #{swiftCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="paymentAccount != null">
        payment_account = #{paymentAccount,jdbcType=CHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="callbackMoney != null">
        callback_money = #{callbackMoney,jdbcType=DECIMAL},
      </if>
      <if test="timeEnd != null">
        time_end = #{timeEnd,jdbcType=TIMESTAMP},
      </if>
    </set>
    where withdrawals_no = #{withdrawalsNo,jdbcType=BIGINT}
  </update>
  <select id="selectByWithdrawalsNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pay_withdrawals
    where withdrawals_no = #{withdrawalsNo}
  </select>
</mapper>