<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.system.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.system.user.model.SysUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="identity" jdbcType="INTEGER" property="identity" />
    <result column="region_code" jdbcType="CHAR" property="regionCode" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="updated_by_name" jdbcType="VARCHAR" property="updatedByName" />
  </resultMap>
  <resultMap id="voMap" type="com.winhxd.b2c.common.domain.system.user.model.SysUser" extends="BaseResultMap">
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, account, username, mobile, status, password, identity, region_code, created_by, created_by_name, created,
    updated_by, updated, updated_by_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.system.user.model.SysUser" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdByName != null">
        created_by_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="updatedByName != null">
        updated_by_name,
      </if>
      <if test="identity != null">
        identity,
      </if>
      <if test="regionCode != null">
        region_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=INTEGER},
      </if>
      <if test="regionCode != null">
        #{regionCode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.system.user.model.SysUser">
    update sys_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdByName != null">
        created_by_name = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedByName != null">
        updated_by_name = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        identity = #{identity,jdbcType=INTEGER},
      </if>
      <if test="regionCode != null">
        region_code = #{regionCode,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectSysUser" resultMap="voMap" parameterType="com.winhxd.b2c.common.domain.system.user.condition.SysUserCondition">
    select
      u.id,
      u.account,
      u.username,
      u.mobile,
      u.status,
      u.created_by,
      u.created,
      u.updated_by,
      u.updated,
      u.created_by_name,
      u.updated_by_name,
      ur.role_id,
      r.role_name,
      u.identity,
      u.region_code,
      CONCAT(re.province, re.city, re.county, re.town, re.village) AS region_name
    FROM sys_user u
    LEFT JOIN sys_user_role ur ON u.id = ur.user_id
    LEFT JOIN sys_role r ON r.id = ur.role_id
    LEFT JOIN sys_region re ON u.region_code = re.region_code
    <where>
      u.status=1
      <if test="userId != null">
        and u.id = #{userId}
      </if>
      <if test="account != null and account != ''">
        and u.account = #{account}
      </if>
      <if test="username != null and username != ''">
        <bind name="username" value="'%' + username + '%'" />
        and username like #{username,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null and mobile != ''">
        <bind name="mobile" value="'%' + mobile + '%'" />
        and mobile like #{mobile,jdbcType=CHAR}
      </if>
      <if test="roleId != null and roleId != ''">
        and role_id = #{roleId}
      </if>
    </where>
  </select>

  <select id="getByAccount" resultMap="voMap" parameterType="string">
    select
      u.id,
      u.account,
      u.username,
      u.password,
      u.mobile,
      u.status,
      u.created_by,
      u.created,
      u.updated_by,
      u.updated,
      u.created_by_name,
      u.updated_by_name,
      ur.role_id,
      r.role_name,
      u.identity,
      u.region_code,
      CONCAT(re.province, re.city, re.county, re.town, re.village) AS region_name
    FROM sys_user u
    LEFT JOIN sys_user_role ur ON u.id = ur.user_id
    LEFT JOIN sys_role r ON r.id = ur.role_id
    LEFT JOIN sys_region re ON u.region_code = re.region_code
    WHERE u.account = #{account}
  </select>
</mapper>