<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.message.dao.MessageNeteaseHistoryMapper">
    <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.message.model.MessageNeteaseHistory">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="from_accid" jdbcType="VARCHAR" property="fromAccid"/>
        <result column="to_accid" jdbcType="VARCHAR" property="toAccid"/>
        <result column="msg_type" jdbcType="SMALLINT" property="msgType"/>
        <result column="msg_body" jdbcType="VARCHAR" property="msgBody"/>
        <result column="msg_attach" jdbcType="VARCHAR" property="msgAttach"/>
        <result column="ext_json" jdbcType="VARCHAR" property="extJson"/>
        <result column="page_type" jdbcType="SMALLINT" property="pageType"/>
        <result column="tree_code" jdbcType="VARCHAR" property="treeCode"/>
        <result column="msg_time" jdbcType="TIMESTAMP" property="msgTimeStamp"/>
        <result column="msg_id_server" jdbcType="VARCHAR" property="msgIdServer"/>
        <result column="read_status" jdbcType="SMALLINT" property="readStatus"/>
    </resultMap>
    <resultMap id="NeteaseMsgVOResultMap" type="com.winhxd.b2c.common.domain.message.vo.NeteaseMsgVO">
        <result column="to_accid" jdbcType="VARCHAR" property="accid"/>
        <result column="msg_type" jdbcType="SMALLINT" property="msgType"/>
        <result column="msg_body" jdbcType="VARCHAR" property="message"/>
        <result column="page_type" jdbcType="SMALLINT" property="pageType"/>
        <result column="tree_code" jdbcType="VARCHAR" property="treeCode"/>
        <result column="msg_time" jdbcType="TIMESTAMP" property="alertTime"/>
        <result column="msg_id_server" jdbcType="VARCHAR" property="msgId"/>
        <result column="read_status" jdbcType="SMALLINT" property="readStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, from_accid, to_accid, msg_type, msg_body, msg_attach, ext_json, page_type, tree_code, 
    msg_time, msg_id_server
  </sql>
    <sql id="Message_List">
    msg_id_server,msg_type,msg_body,page_type,tree_code,msg_time,read_status
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from message_netease_history
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectVoByCondition" parameterType="com.winhxd.b2c.common.domain.message.condition.NeteaseMsgBoxCondition"  resultMap="NeteaseMsgVOResultMap">
        select
        <include refid="Message_List"/>
        <if test="timeType != null and timeType != ''">
            ,#{timeType,jdbcType=VARCHAR} timeType
        </if>
        from message_netease_history
        where 1=1
        <if test="accid != null">
            and to_accid=#{accid,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null and startTime != ''">
            and msg_time > #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null and endTime != ''">
            and #{endTime,jdbcType=TIMESTAMP} > msg_time
        </if>
        order by msg_time desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from message_netease_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.winhxd.b2c.common.domain.message.model.MessageNeteaseHistory">
    insert into message_netease_history (id, from_accid, to_accid, 
      msg_type, msg_body, msg_attach, 
      ext_json, page_type, tree_code, 
      msg_time, msg_id_server)
    values (#{id,jdbcType=BIGINT}, #{fromAccid,jdbcType=VARCHAR}, #{toAccid,jdbcType=VARCHAR}, 
      #{msgType,jdbcType=SMALLINT}, #{msgBody,jdbcType=VARCHAR}, #{msgAttach,jdbcType=VARCHAR}, 
      #{extJson,jdbcType=VARCHAR}, #{pageType,jdbcType=SMALLINT}, #{treeCode,jdbcType=VARCHAR}, 
      #{msgTimeStamp,jdbcType=TIMESTAMP}, #{msgIdServer,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.message.model.MessageNeteaseHistory">
        insert into message_netease_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fromAccid != null">
                from_accid,
            </if>
            <if test="toAccid != null">
                to_accid,
            </if>
            <if test="msgType != null">
                msg_type,
            </if>
            <if test="msgBody != null">
                msg_body,
            </if>
            <if test="msgAttach != null">
                msg_attach,
            </if>
            <if test="extJson != null">
                ext_json,
            </if>
            <if test="pageType != null">
                page_type,
            </if>
            <if test="treeCode != null">
                tree_code,
            </if>
            <if test="msgTimeStamp != null">
                msg_time,
            </if>
            <if test="msgIdServer != null">
                msg_id_server,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="fromAccid != null">
                #{fromAccid,jdbcType=VARCHAR},
            </if>
            <if test="toAccid != null">
                #{toAccid,jdbcType=VARCHAR},
            </if>
            <if test="msgType != null">
                #{msgType,jdbcType=SMALLINT},
            </if>
            <if test="msgBody != null">
                #{msgBody,jdbcType=VARCHAR},
            </if>
            <if test="msgAttach != null">
                #{msgAttach,jdbcType=VARCHAR},
            </if>
            <if test="extJson != null">
                #{extJson,jdbcType=VARCHAR},
            </if>
            <if test="pageType != null">
                #{pageType,jdbcType=SMALLINT},
            </if>
            <if test="treeCode != null">
                #{treeCode,jdbcType=VARCHAR},
            </if>
            <if test="msgTimeStamp != null">
                #{msgTimeStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="msgIdServer != null">
                #{msgIdServer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.winhxd.b2c.common.domain.message.model.MessageNeteaseHistory">
        update message_netease_history
        <set>
            <if test="fromAccid != null">
                from_accid = #{fromAccid,jdbcType=VARCHAR},
            </if>
            <if test="toAccid != null">
                to_accid = #{toAccid,jdbcType=VARCHAR},
            </if>
            <if test="msgType != null">
                msg_type = #{msgType,jdbcType=SMALLINT},
            </if>
            <if test="msgBody != null">
                msg_body = #{msgBody,jdbcType=VARCHAR},
            </if>
            <if test="msgAttach != null">
                msg_attach = #{msgAttach,jdbcType=VARCHAR},
            </if>
            <if test="extJson != null">
                ext_json = #{extJson,jdbcType=VARCHAR},
            </if>
            <if test="pageType != null">
                page_type = #{pageType,jdbcType=SMALLINT},
            </if>
            <if test="treeCode != null">
                tree_code = #{treeCode,jdbcType=VARCHAR},
            </if>
            <if test="msgTimeStamp != null">
                msg_time = #{msgTimeStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="msgIdServer != null">
                msg_id_server = #{msgIdServer,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.message.model.MessageNeteaseHistory">
    update message_netease_history
    set from_accid = #{fromAccid,jdbcType=VARCHAR},
      to_accid = #{toAccid,jdbcType=VARCHAR},
      msg_type = #{msgType,jdbcType=SMALLINT},
      msg_body = #{msgBody,jdbcType=VARCHAR},
      msg_attach = #{msgAttach,jdbcType=VARCHAR},
      ext_json = #{extJson,jdbcType=VARCHAR},
      page_type = #{pageType,jdbcType=SMALLINT},
      tree_code = #{treeCode,jdbcType=VARCHAR},
      msg_time = #{msgTimeStamp,jdbcType=TIMESTAMP},
      msg_id_server = #{msgIdServer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateReadStatusByCondition" parameterType="com.winhxd.b2c.common.domain.message.condition.NeteaseMsgReadStatusCondition">
        update message_netease_history
        set read_status = 1
        where 1=1
        and to_accid=#{accid,jdbcType=VARCHAR}
        <if test="allRead != 1 ">
            and msg_id_server in
            <foreach collection="msgIds" open="(" separator="," close=")" item="msgId">
                #{msgId}
            </foreach>
        </if>
    </update>
</mapper>