<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhxd.b2c.pay.weixin.dao.PayStatementDownloadRecordMapper">
  <resultMap id="BaseResultMap" type="com.winhxd.b2c.common.domain.pay.model.PayStatementDownloadRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bill_type" jdbcType="INTEGER" property="billType" />
    <result column="bill_date" jdbcType="DATE" property="billDate" />
    <result column="err_code" jdbcType="VARCHAR" property="errCode" />
    <result column="err_code_des" jdbcType="VARCHAR" property="errCodeDes" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bill_type, bill_date, err_code, err_code_des, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_statement_download_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_statement_download_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.winhxd.b2c.common.domain.pay.model.PayStatementDownloadRecord">
    insert into pay_statement_download_record (id, bill_type, bill_date, 
      err_code, err_code_des, status
      )
    values (#{id,jdbcType=BIGINT}, #{billType,jdbcType=INTEGER}, #{billDate,jdbcType=DATE}, 
      #{errCode,jdbcType=VARCHAR}, #{errCodeDes,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayStatementDownloadRecord">
    insert into pay_statement_download_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="billType != null">
        bill_type,
      </if>
      <if test="billDate != null">
        bill_date,
      </if>
      <if test="errCode != null">
        err_code,
      </if>
      <if test="errCodeDes != null">
        err_code_des,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="billType != null">
        #{billType,jdbcType=INTEGER},
      </if>
      <if test="billDate != null">
        #{billDate,jdbcType=DATE},
      </if>
      <if test="errCode != null">
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winhxd.b2c.common.domain.pay.model.PayStatementDownloadRecord">
    update pay_statement_download_record
    <set>
      <if test="billType != null">
        bill_type = #{billType,jdbcType=INTEGER},
      </if>
      <if test="billDate != null">
        bill_date = #{billDate,jdbcType=DATE},
      </if>
      <if test="errCode != null">
        err_code = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        err_code_des = #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winhxd.b2c.common.domain.pay.model.PayStatementDownloadRecord">
    update pay_statement_download_record
    set bill_type = #{billType,jdbcType=INTEGER},
      bill_date = #{billDate,jdbcType=DATE},
      err_code = #{errCode,jdbcType=VARCHAR},
      err_code_des = #{errCodeDes,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByModel" parameterType="com.winhxd.b2c.common.domain.pay.model.PayStatementDownloadRecord" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_statement_download_record
    <where>
      <if test="id != null">
       AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="billType != null">
       AND bill_type = #{billType,jdbcType=INTEGER}
      </if>
      <if test="billDate != null">
       AND bill_date = #{billDate,jdbcType=DATE}
      </if>
      <if test="errCode != null">
       AND err_code = #{errCode,jdbcType=VARCHAR}
      </if>
      <if test="errCodeDes != null">
       AND err_code_des = #{errCodeDes,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
       AND status = #{status,jdbcType=INTEGER}
      </if>
    </where>
      <if test="billDate != null">
        GROUP BY bill_date
      </if>
  </select>
  
  <select id="selectUnDownloadRecord" parameterType="com.winhxd.b2c.common.domain.pay.model.PayStatementDownloadRecord" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from pay_statement_download_record
	where bill_date = #{billDate,jdbcType=DATE} and status = 0
	and bill_type
	NOT IN
	(SELECT bill_type FROM pay_statement_download_record where bill_date = #{billDate,jdbcType=DATE}
	and status = 1 GROUP BY bill_type)
	GROUP BY bill_type

  </select>
  
</mapper>